{% extends 'base.html.twig' %}

{% block title %}TechImage{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>TechImage</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tech_image.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ tech_image.path }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ tech_image.created ? tech_image.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_slider</th>
                <td>{{ tech_image.isSlider ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('tech_image_index') }}">Назад к списку</a>

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('tech_image_edit', {'id': tech_image.id}) }}">Редактировать</a>

        {{ include('tech_image/_delete_form.html.twig') }}
    </div>
{% endblock %}
