{% extends 'base.html.twig' %}

{% set bodyClass = 'homepage' %}

{% block title %}Сельхозтехника в Ростовской области, производитель АГРО-ТЕХ{% endblock %}

{% block preloader %}
    <div id="preloader">
        <img id="preload-img" src="{{ asset('assets/img/logo.png') }}" width="139">
    </div>
{% endblock %}

{% block slider %}
    <!-- Slider section -->
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <!-- Slick slider -->
            <!--                To do: Check all points-->
            <div class="single-slide">
                <div>
                    <img class="img-fluid" src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/agregat-pochvoobrabatyvayushiy.jpg') }}" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/borona-pruzhinnaya.jpg') }}" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/opryskivatel-pritsepnoi-op-22.jpg') }}" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/razbrasyvateli-udobreniy.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block h1 %}
    <h2 class="text-center bg-primary text-white line-height-18 my-3">
        Наша Продукция
    </h2>
{% endblock %}

{% block content %}
    <!-- Products section -->
    <div class="row m-0">
        <div class="col-md-6 p-0 pb-5">
            <h2 class="text-center bg-white sticky-top my-2">
                <a href="{{ path('angary') }}">Ангары</a>
            </h2>

            <div class="row m-0 justify-content-around">
                {% for category in angar_category_serv.findAll() %}
                    <div class="col-xl-6 pt-3">
                        <!--To do: Add width in ccs or use row and col!-->
                        <div class="card">
                            <div class="more-info">
                                <div class="more-info__center">
                                    <a class="btn btn-dark" href="{{ path('angar_category_show', {'url' : category.url}) }}">
                                        <span> Подробнее</span>
                                    </a>
                                </div>
                            </div>
                            <img src="{{ asset(category.image) }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ category.name }}</h4>
                                <p class="card-text">
                                    {{ category.content }}
                                </p>
                                {#<a href="" class="btn btn-primary">Посмотреть</a>#}
                                {#<a class="btn btn-primary" href="{{ path('angar_category_show', {'url' : category.url}) }}">Посмотреть</a>#}
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

        <div class="col-md-6 p-0 pb-5 justify-content-around">
            <h2 class="text-center bg-white sticky-top my-2">
                <a href="{{ path('selhoztehnika') }}">Сельхозтехника</a>
            </h2>

            <div class="row m-0">

                {% for category in tech_category_serv.findAll() %}
                    <div class="col-xl-6 pt-3">
                        <!--To do: Add width in ccs or use row and col!-->
                        <div class="card">
                            <div class="more-info">
                                <div class="more-info__center">
                                    <a class="btn btn-dark" href="{{ path('category', {'url' : category.url}) }}">
                                        <span> Подробнее</span>
                                    </a>
                                </div>
                            </div>
                            <img src="{{ asset(category.sideBarImage) }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.name }}</h5>
                                {#<p class="card-text text-justify">
                                    {{ category.content|length > 70 ? category.content|slice(0,70) ~ '...' : category.content }}
                                </p>#}
                                {#<a href="{{ path('category', {'url' : category.url}) }}" class="btn btn-primary">Посмотреть</a>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_slider %}
    <!-- News section -->
    <div class="row m-0 my-5 bg-transparent">
        <div class="col-md-12 p-0 px-5">
            <h2 class="text-center my-3 line-height-18 text-white bg-primary">
                Полезная информация
            </h2>

            <!-- Slick slider -->
            <!-- To do: Check all point-->
            <div class="article-slide">
                {% for article in articles  %}
                    <article class="card border-0 px-3 articleIndex bg-transparent">
                        <div class="more-info bg-white px-3">
                            <div class="">
                                <p class="card-text">
                                    {{ article.description }}
                                </p>
                                <p class="card-text">
                                    <a href="{{ path('articles_show', {'id' : article.id}) }}">Читать далее</a>
                                </p>
                            </div>
                        </div>
                        <a href="{{ path('articles_show', {'id' : article.id}) }}">
                            <img src="{{ asset(article.image) }}" class="card-img-top" alt="{{ article.name }}">
                        </a>

                        <div class="card-body mt-3">
                            <h4 class="card-title text-center">
                                {{ article.name }}
                            </h4>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
{#{% block content %}
    <h2 class="mb-40px">Сельскохозяйственная техника</h2>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Машины и оборудование ООО "АГРО-ТЕХ" неизменно пользуются высоким спросом. Они актуальны
            и эргономичны. Чтобы полностью подготовить их к работе, нужен минимум трудозатрат.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-50px">
        <p class="middle-font-size remove-bottom">
            Специалисты ООО "АГРО-ТЕХ" знают проблемы современного села, поэтому компания
            разрабатывает и производит качественную технику с учетом отечественной специфики.
        </p>
    </div>

    <h2 class="text-on-centre">Опрыскиватели прицепные&nbsp;и&nbsp;навесные</h2>

</div><!-- /full-width columns -->

<!-- ------------------------------------------------------------------------------------ -->

<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>
<div class="pl-33px"><!-- Многогранники -->
    <div class="mng_row">
        {% for tech in tech_serv.findBy({category : {'id' : 1}}) %}
            <div class="column_mng">
                <div class="description_mng fx_01">
                    <div class="description_table">
                        <p id="model_mng">
                            <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                                {{ tech.shortName }}
                            </a>
                        </p>
                        <p id="price_mng">
                            Цена - от {{ tech.price }} руб.
                        </p>
                    </div>
                </div>
                <div class="polyhedron">
                    <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                        <img src="/{{ tech.mngImage }}" alt="{{ tech.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div><!-- /Многогранники -->
<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>

<!-- ------------------------------------------------------------------------------------ -->

<div class="full-width columns">

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">Для успешного роста сельскохозяйственных культур одной
            хорошей почвы недостаточно. Нужна техника, способная обеспечить своевременную подкормку
            растений и их защиту от вредителей, сорняков и болезней.</p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Качественные отечественные опрыскиватели помогают вносить на поверхность почвы жидкие
            удобрения и сохранять посевы и всходы.
        </p>
    </div>

    <blockquote class="mb-50px">
        <p class="dark-black remove-bottom">
            Производство и реализация опрыскивателей с каждым годом лишь возрастает. Наша компания
            предлагает эту технику в ассортименте. У каждого вида опрыскивателей есть свои
            технические особенности, что позволяет потребителям выбрать ту модель, которая наилучшим
            образом отвечает условиям эксплуатации.
        </p>
    </blockquote>

    <h2 class="text-on-centre">Разбрасыватели удобрений</h2>

</div><!-- /full-width columns -->

<!-- ------------------------------------------------------------------------------------ -->

<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>
<div class="pl-33px"><!-- Многогранники -->

    <div class="mng_row">
        {% for tech in tech_serv.findBy({category : {'id' : 2}}) %}
            <div class="column_mng">
                <div class="description_mng fx_01">
                    <div class="description_table">
                        <p id="model_mng">
                            <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                                {{ tech.shortName }}
                            </a>
                        </p>
                        <p id="price_mng">
                            Цена - от {{ tech.price }} руб.
                        </p>
                    </div>
                </div>
                <div class="polyhedron">
                    <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                        <img src="/{{ tech.mngImage }}" alt="{{ tech.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div><!-- /Многогранники -->
<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>

<!-- ------------------------------------------------------------------------------------ -->

<div class="full-width columns">

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Минеральные удобрения необходимы для повышения плодородности почвы и, как следствие,
            роста урожайности культур.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Чтобы гранулированные удобрения были использованы как можно эффективнее, их вносят в
            почву с помощью разбрасывателей.
        </p>
    </div>

    <blockquote class="mb-50px">
        <p class="dark-black remove-bottom">
            Эта техника обеспечивает не только точную дозировку питательных веществ, но и их
            равномерное распределение.
        </p>
    </blockquote>

    <h2 class="text-on-centre">Прочая техника для сельского&nbsp;хозяйства</h2>

</div><!-- /full-width columns -->

<!-- ------------------------------------------------------------------------------------ -->

<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>
<div class="pl-33px"><!-- Многогранники -->

    <div class="mng_row">
        {% for tech in tech_serv.findBy({category : {'id' : 3}}) %}
            <div class="column_mng">
                <div class="description_mng fx_01">
                    <div class="description_table">
                        <p id="model_mng">
                            <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                                {{ tech.shortName }}
                            </a>
                        </p>
                        <p id="price_mng">
                            Цена - от {{ tech.price }} руб.
                        </p>
                    </div>
                </div>
                <div class="polyhedron">
                    <a href="{{ path('selhoztehnika_show', {'url' : tech.url}) }}" title="{{ tech.name }}">
                        <img src="/{{ tech.mngImage }}" alt="{{ tech.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div><!-- /Многогранники -->
<br class="clear"><!-- Очистка -->
<div class="gap mb-35px"></div>

<!-- ------------------------------------------------------------------------------------ -->

<div class="full-width columns">

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Существует множество приспособлений, которые облегчают жизнь и пользуются вниманием
            сельхозпроизводителей, независимо от объёма их производства.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Например, при обработке опрыскивателем большого участка необходимо пополнять рабочую
            жидкость в его резервуаре. Для этой цели пригодятся кассеты ЖКУ с запасом химикатов.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border mb-70px">
        <p class="middle-font-size remove-bottom">
            Большой популярностью в сезон сбора урожая пользуются и тележки ТПУ-500. Эту и другую
            необходимую сельхозтехнику тоже можно заказать на нашем сайте.
        </p>
    </div>


    <h2 class="mb-35px">Быстровозводимые бескаркасные и каркасно-тентовые арочные конструкции</h2>

    <blockquote class="mb-35px">
        <p class="dark-black">
            Быстровозводимые ангары от ООО "АГРО-ТЕХ" (изготавливаются по технологии "MIC
            Industries") - это уникальные бескаркасные арочные конструкции из оцинкованной листовой
            рулонной стали.
        </p>
        <p class="dark-black">
            Все детали формируются на месте монтажа, сборка ведется секциями, соединение методом
            закатки швов. Отличаются прочностью, жесткостью, коррозионной стойкостью, шириной до 28
            м. Срок службы до 50 лет - без какого-либо специального ухода!
        </p>
        <p class="dark-black remove-bottom">
            Используются как зернохранилища, склады, производственные и бытовые сооружения.
        </p>
    </blockquote>

    <div class="item-picture mb-50px" data-type="link">
        <img src="{{ asset('assets/img/content/stroitelstvo-angarov/angary.jpg') }}" alt="">
        <div class="image-overlay">
            <a href="{{ path('angary') }}" title="Строительство ангаров"><span class="link"></span></a>
        </div>
    </div>

    <div class="align-center mb-35px">
        <a href="{{ path('angary_types', {'type' : 'stroitelstvo-zernohranilish'}) }}" class="button large colored bx_shadow">
            Строительство зернохранилищ
        </a>
    </div>

    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size mb-20px">
            Основные преимущества:
        </p>

        <ul class="check-list colored remove-bottom">
            <li>короткое время строительства, обеспеченное высокой технологичностью изготовления и
                монтажа конструкций;
            </li>
            <li>простота обеспечения герметичности;</li>
            <li>высокая коррозионная стойкость;</li>
            <li>прочность восприятия снеговых и ветровых нагрузок;</li>
            <li>небольшой вес и высокая технологичность монтажа;</li>
            <li>простота транспортировки материалов и оборудования на стройплощадку;</li>
            <li>строительство практически на любом грунте;</li>
            <li>доступность возведения даже на большом удалении от населенных пунктов;</li>
            <li>возможность сооружения утепленных объектов различного назначения, с высокими
                теплотехническими показателями;
            </li>
            <li>доступность материалов и низкая стоимость строительных работ;</li>
            <li>практичность, долговечность, привлекательный и разнообразный внешний вид строений.
            </li>
        </ul>
    </div>

    <div class="align-center mb-35px">
        <a href="{{ path('angary') }}" class="button large colored bx_shadow">
            Строительство ангаров
        </a>
    </div>

    <div class="info-box colored-1 rounded mb-50px">
        <p class="middle-font-size remove-bottom">
            Бескаркасные и каркасно-тентовые арочные сооружения ООО "АГРО-ТЕХ" являются наиболее
            бюджетным решением в области строительства быстровозводимых зданий. Это хороший выбор
            для современного бизнеса.
        </p>
    </div>

</div><!-- /full-width columns -->

<div id="glr-wrapper" class="medium-col-space no-bg no-sep long-description clearfix">

    <div class="row">

        <!-- 1/2 -->
        <div class="one-half columns glr-item-preview">
            <article>
                <div class="item-picture" data-type="image">
                    <img src="{{ asset('assets/img/content/stroitelstvo-angarov/tsena/01.jpg') }}" alt="">
                </div>
                <div class="item-description mb-12px">
                    <p class="large-font-size black">
                        Ангар бескаркасный
                    </p>
                    <p class="">
                        Цена - от <span
                                class="large-font-size colored-text-2">2500</span>&nbsp;
                        руб. за кв. м
                    </p>
                </div>
            </article>
        </div>

        <!-- 1/2 -->
        <div class="one-half columns glr-item-preview">
            <article>
                <div class="item-picture" data-type="image">
                    <img src="{{ asset('assets/img/content/stroitelstvo-angarov/tsena/02.jpg') }}" alt="">
                </div>
                <div class="item-description mb-12px">
                    <p class="large-font-size black">
                        Навес бескаркасный
                    </p>
                    <p class="">
                        Цена - от <span
                                class="large-font-size colored-text-2">&nbsp;2400</span>&nbsp;
                        руб. за кв. м
                    </p>
                </div>
            </article>
        </div>

    </div>
    <div class="row mb-30px">

        <!-- 1/2 -->
        <div class="one-half columns glr-item-preview">
            <article>
                <div class="item-picture" data-type="image">
                    <img src="{{ asset('assets/img/content/stroitelstvo-angarov/tsena/03.jpg') }}" alt="">
                </div>
                <div class="item-description mb-12px">
                    <p class="large-font-size black">
                        Ангар тентовый
                    </p>
                    <p class="">
                        Цена - от <span
                                class="large-font-size colored-text-2">&nbsp;2500</span>&nbsp;
                        руб. за кв. м
                    </p>
                </div>
            </article>
        </div>

        <!-- 1/2 -->
        <div class="one-half columns glr-item-preview">
            <article>
                <div class="item-picture" data-type="image">
                    <img src="{{ asset('assets/img/content/stroitelstvo-angarov/tsena/04.jpg') }}" alt="">
                </div>
                <div class="item-description mb-12px">
                    <p class="large-font-size black">
                        Навес тентовый
                    </p>
                    <p class="">
                        Цена - от <span
                                class="large-font-size colored-text-2">&nbsp;2200</span>&nbsp;
                        руб. за кв. м
                    </p>
                </div>
            </article>
        </div>

    </div>

</div><!-- /glr-wrapper -->

<div class="full-width columns">

    <p class="psevdo_h2 mb-40px">Особенности продукции ООО&nbsp;"АГРО-ТЕХ"</p>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Опытные руководители сельхозпредприятий знают, что покупать технику нужно у проверенных
            производителей, которые реализуют только сертифицированное оборудование, хорошо
            зарекомендовавшее себя в работе.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            ООО "АГРО-ТЕХ" располагает собственной испытательной и производственной базой.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size mb-20px">
            Качественная, надежная и недорогая продукция ООО "АГРО-ТЕХ" создаётся на основе:
        </p>
        <ul class="check-list colored remove-bottom">
            <li>собственного опыта специалистов компании;</li>
            <li>последних научно-технических достижений;</li>
            <li>анализа требований сельхозпроизводителей.</li>
        </ul>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Производство осуществляется с применением инновационных технологий на современном
            оборудовании.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Оригинальные технические решения, которые заложены в конструкции моделей, подтверждены
            многочисленными патентами.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            В процессе сборки используются итальянские, немецкие, турецкие и польские комплектующие
            - насосы, распылители, регуляторы, фильтры.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border remove-bottom">
        <p class="middle-font-size remove-bottom">
            Техника компании соответствует отечественным ГОСТам, мировым стандартам качества и
            нормативам ГНУ ВИЗР. Она проста в эксплуатации и обслуживании и не раз удостаивалась
            высоких наград на разнообразных сельскохозяйственных выставках.
        </p>
    </div>

</div><!-- /full-width columns -->
    {% endblock %}#}


