{% extends 'base.html.twig' %}

{% block title %}Сельхозтехника в Ростовской области, производитель АГРО-ТЕХ{% endblock %}

{% block body %}
    {% block h1 %}Сельхозтехника в Ростовской области{% endblock %}

    {% block content %}
        <section id="page-content" class="sidebar-layout"><!-- Содержимое страницы -->

            <div class="container"><!-- 1080 px -->

                <div class="columns-wrapper sb-right"><!-- Макет с боковой колонкой справа -->



                    <!-- Основной контент страницы (левый блок) -->
                    <section id="main-content" class="three-fourths columns page-left-col"><!-- 840 px -->
                        <div class="full-width columns">

                            <div class="row mb-70px">
                                <section class="flexslider mb-10px" data-animation="fade" data-slideshow="yes"
                                         data-direction-nav="yes">
                                    <ul class="slides">
                                        <li class=""
                                            style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                                            <a href="/tech/razbrasyvateli-udobreniy"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/razbrasyvateli-udobreniy.jpg') }}"
                                                        alt="Разбрасыватели удобрений МВУ 1100"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"
                                            class="">
                                            <a href="/tech/samohodnyi-razbrasyvatel-udobreniy"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/samohodnyi-razbrasyvatel-udobreniy.jpg') }}"
                                                        alt="Самоходный разбрасыватель удобрений"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"
                                            class="">
                                            <a href="/tech/opryskivatel-pritsepnoi-op-22"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/opryskivatel-pritsepnoi-op-22.jpg') }}"
                                                        alt="Опрыскиватель прицепной ОП-22"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"
                                            class="">
                                            <a href="/tech/opryskivatel-pritsepnoi-ventilyatornyi-opv-2000"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/opryskivatel-pritsepnoi-ventilyatornyi-opv-2000.jpg') }}"
                                                        alt="Вентиляторный ОПВ-2000"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"
                                            class="">
                                            <a href="/tech/pritsepnoi-opryskivatel-op-18"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/pritsepnoi-opryskivatel-op-18.jpg') }}"
                                                        alt="ОП-18"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;"
                                            class="flex-active-slide">
                                            <a href="/tech/opryskivatel-ventilyatornyi-sadovyi"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/opryskivatel-ventilyatornyi-sadovyi.jpg') }}"
                                                        alt="Опрыскиватель вентиляторный садовый"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/opryskivatel-navesnoi-on-12"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/opryskivatel-navesnoi-on-12.jpg') }}"
                                                        alt="Опрыскиватель навесной ОН-12"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/sistema-parallelnogo-vozhdeniya-agronavigator"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/sistema-parallelnogo-vozhdeniya-agronavigator.jpg') }}"
                                                        alt="Система параллельного вождения Маша, агронавигатор"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/borona-pruzhinnaya"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/borona-pruzhinnaya.jpg') }}"
                                                        alt="Борона пружинная БЛП-9"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/telezhka-dlya-sbora-urozhaya"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/telezhka-dlya-sbora-urozhaya.jpg') }}"
                                                        alt="Тележка для сбора урожая"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/pritsep-pozharnyi-ppv-2500"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/pritsep-pozharnyi-ppv-2500.jpg') }}"
                                                        alt="Прицеп пожарный ППВ-2500"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/podvoz-zhku-kas"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/podvoz-zhku-kas.jpg') }}"
                                                        alt="Кассеты для подвоза воды, ЖКУ, КАС"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/podvoz-vody"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/telezhka-dlya-podvoza-vody.jpg') }}"
                                                        alt="Тележка для подвоза воды на 4500 и 5000 литров"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/podvoz-vody"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/telezhka-dlya-vody.jpg') }}"
                                                        alt="Тележка для воды на 3000 литров"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/okzh.php"><img src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/oborudovanieh.jpg') }}"
                                                                    alt="Оборудование ОКЖ"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/grabli-voroshilki-senovoroshilka"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/grabli-voroshilki-senovoroshilka.jpg') }}"
                                                        alt="Грабли ворошилки, сеноворошилка"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/rezervuary-dlya-vody"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/rezervuary-dlya-vody.jpg') }}"
                                                        alt="Резервуары для воды"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/mashiny-dlya-vneseniya-udobreniy"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/mashiny-dlya-vneseniya-udobreniy.jpg') }}"
                                                        alt="Машины для внесения удобрений МВУ 500"></a>
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                                            <a href="/tech/borona-rotatsionnaya"><img
                                                        src="{{ asset('assets/img/content/proizvodstvo-selhoztehniki/borona-rotatsionnaya.jpg') }}"
                                                        alt="Борона ротационная кольчатая БРК-5.6"></a>
                                        </li>
                                    </ul>
                                    <ol class="flex-control-nav flex-control-paging">
                                        <li><a class=""><span>1</span></a></li>
                                        <li><a class=""><span>2</span></a></li>
                                        <li><a class=""><span>3</span></a></li>
                                        <li><a class=""><span>4</span></a></li>
                                        <li><a class=""><span>5</span></a></li>
                                        <li><a class="flex-active"><span>6</span></a></li>
                                        <li><a><span>7</span></a></li>
                                        <li><a><span>8</span></a></li>
                                        <li><a><span>9</span></a></li>
                                        <li><a><span>10</span></a></li>
                                        <li><a><span>11</span></a></li>
                                        <li><a><span>12</span></a></li>
                                        <li><a><span>13</span></a></li>
                                        <li><a><span>14</span></a></li>
                                        <li><a><span>15</span></a></li>
                                        <li><a><span>16</span></a></li>
                                        <li><a><span>17</span></a></li>
                                        <li><a><span>18</span></a></li>
                                        <li><a><span>19</span></a></li>
                                    </ol>
                                    <ul class="flex-direction-nav">
                                        <li><a class="flex-prev" href="#">Previous</a></li>
                                        <li><a class="flex-next" href="#">Next</a></li>
                                    </ul>
                                </section>
                            </div>

                            <h2 class="mb-40px">Сельскохозяйственная техника</h2>

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    Машины и оборудование ООО "АГРО-ТЕХ" неизменно пользуются высоким спросом. Они актуальны
                                    и эргономичны. Чтобы полностью подготовить их к работе, нужен минимум трудозатрат.
                                </p>
                            </blockquote>

                            <div class="info-box colored-1 rounded mb-50px">
                                <p class="middle-font-size remove-bottom">
                                    Специалисты ООО "АГРО-ТЕХ" знают проблемы современного села, поэтому компания
                                    разрабатывает и производит качественную технику с учетом отечественной специфики.
                                </p>
                            </div>

                            <h2 class="text-on-centre">Опрыскиватели прицепные&nbsp;и&nbsp;навесные</h2>

                        </div><!-- /full-width columns -->

                        <!-- ------------------------------------------------------------------------------------ -->

                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>
                        <div class="pl-33px"><!-- Многогранники -->

                            <div class="column_mng">

                                <div class="description_mng fx_01">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/opryskivatel-pritsepnoi-op-22" title="">
                                                ОП-22, 2000/3000
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 304 000 руб.
                                        </p>
                                    </div>
                                </div>
                                <div class="polyhedron">
                                    <a href="/tech/opryskivatel-pritsepnoi-op-22" title="Опрыскиватель прицепной ОП-22 (24)">
                                        <img src="{{ asset('assets/img/content/_mng/opryskivatel-pritsepnoi-op-22.jpg') }}" alt="">
                                    </a>
                                </div>

                                <div class="polyhedron fx_02">
                                    <a href="/tech/opryskivatel-pritsepnoi-ventilyatornyi-opv-2000"
                                       title="Опрыскиватель вентиляторный ОПВ-2000">
                                        <img src="{{ asset('assets/img/content/_mng/opryskivatel-pritsepnoi-ventilyatornyi-opv-2000.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/opryskivatel-pritsepnoi-ventilyatornyi-opv-2000" title="">
                                                ОПВ 2000, 82
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 420 000 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="column_mng">

                                <div class="small_mng_2"><!-- Малые многогранники -->
                                    <img src="{{ asset('assets/img/content/_mng/01.png') }}" alt="">
                                </div>

                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/pritsepnoi-opryskivatel-op-18" title="">
                                                ОП-18, 2000/2500
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 290 000 руб.
                                        </p>
                                    </div>
                                </div>
                                <div class="polyhedron">
                                    <a href="/tech/pritsepnoi-opryskivatel-op-18" title="Прицепной опрыскиватель ОП-18 (21)">
                                        <img src="{{ asset('assets/img/content/_mng/pritsepnoi-opryskivatel-op-18.jpg') }}" alt="">
                                    </a>
                                </div>

                                <div class="small_mng_2 fx_02">
                                    <img src="{{ asset('assets/img/content/_mng/02.png') }}" alt="">
                                </div>

                            </div>

                            <div class="column_mng">

                                <div class="description_mng fx_01">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/opryskivatel-navesnoi-on-12" title="">
                                                ОН-12/15, 800
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 90 000/145 000 руб.
                                        </p>
                                    </div>
                                </div>
                                <div class="polyhedron">
                                    <a href="/tech/opryskivatel-navesnoi-on-12" title="Опрыскиватель навесной ОН-12 (15)">
                                        <img src="{{ asset('assets/img/content/_mng/opryskivatel-navesnoi-on-12.jpg') }}" alt="">
                                    </a>
                                </div>

                                <div class="polyhedron fx_02">
                                    <a href="/tech/opryskivatel-ventilyatornyi-sadovyi"
                                       title="Опрыскиватель вентиляторный садовый">
                                        <img src="{{ asset('assets/img/content/_mng/opryskivatel-ventilyatornyi-sadovyi.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/opryskivatel-ventilyatornyi-sadovyi" title="">
                                                ОНВ 600, 60/71
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 125000 / 150000 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div><!-- /Многогранники -->
                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>

                        <!-- ------------------------------------------------------------------------------------ -->

                        <div class="full-width columns">

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">Для успешного роста сельскохозяйственных культур одной
                                    хорошей почвы недостаточно. Нужна техника, способная обеспечить своевременную подкормку
                                    растений и их защиту от вредителей, сорняков и болезней.</p>
                            </blockquote>

                            <div class="info-box colored-1 rounded mb-35px">
                                <p class="middle-font-size remove-bottom">
                                    Качественные отечественные опрыскиватели помогают вносить на поверхность почвы жидкие
                                    удобрения и сохранять посевы и всходы.
                                </p>
                            </div>

                            <blockquote class="mb-50px">
                                <p class="dark-black remove-bottom">
                                    Производство и реализация опрыскивателей с каждым годом лишь возрастает. Наша компания
                                    предлагает эту технику в ассортименте. У каждого вида опрыскивателей есть свои
                                    технические особенности, что позволяет потребителям выбрать ту модель, которая наилучшим
                                    образом отвечает условиям эксплуатации.
                                </p>
                            </blockquote>

                            <h2 class="text-on-centre">Разбрасыватели удобрений</h2>

                        </div><!-- /full-width columns -->

                        <!-- ------------------------------------------------------------------------------------ -->

                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>
                        <div class="pl-33px"><!-- Многогранники -->

                            <div class="column_mng">

                                <div class="polyhedron">
                                    <a href="/tech/razbrasyvateli-udobreniy" title="Разбрасыватели удобрений МВУ 1100">
                                        <img src="{{ asset('assets/img/content/_mng/razbrasyvateli-udobreniy.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/razbrasyvateli-udobreniy" title="">
                                                МВУ 1100
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 99 000 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="column_mng">
                                <div class="small_mng fx_03">
                                    <img src="{{ asset('assets/img/content/_mng/02.png') }}" alt="">
                                </div>
                            </div>

                            <div class="column_mng">

                                <div class="polyhedron">
                                    <a href="/tech/mashiny-dlya-vneseniya-udobreniy"
                                       title="Машины для внесения удобрений МВУ 500">
                                        <img src="{{ asset('assets/img/content/_mng/mashiny-dlya-vneseniya-udobreniy.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/mashiny-dlya-vneseniya-udobreniy" title="">
                                                МВУ 500
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 27 500 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="column_mng">
                                <div class="small_mng fx_03">
                                    <img src="{{ asset('assets/img/content/_mng/02.png') }}" alt="">
                                </div>
                            </div>

                            <div class="column_mng">

                                <div class="polyhedron">
                                    <a href="/tech/samohodnyi-razbrasyvatel-udobreniy"
                                       title="Самоходный разбрасыватель удобрений">
                                        <img src="{{ asset('assets/img/content/_mng/samohodnyi-razbrasyvatel-udobreniy.jpg') }}"
                                             alt="Самоходный разбрасыватель удобрений">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/samohodnyi-razbrasyvatel-udobreniy" title="">
                                                Самоходный разбрасыватель удобрений
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 800 000 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="column_mng">
                                <div class="small_mng fx_03">
                                    <img src="{{ asset('assets/img/content/_mng/02.png') }}" alt="">
                                </div>
                            </div>

                        </div><!-- /Многогранники -->
                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>

                        <!-- ------------------------------------------------------------------------------------ -->

                        <div class="full-width columns">

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    Минеральные удобрения необходимы для повышения плодородности почвы и, как следствие,
                                    роста урожайности культур.
                                </p>
                            </blockquote>

                            <div class="info-box colored-1 rounded mb-35px">
                                <p class="middle-font-size remove-bottom">
                                    Чтобы гранулированные удобрения были использованы как можно эффективнее, их вносят в
                                    почву с помощью разбрасывателей.
                                </p>
                            </div>

                            <blockquote class="mb-50px">
                                <p class="dark-black remove-bottom">
                                    Эта техника обеспечивает не только точную дозировку питательных веществ, но и их
                                    равномерное распределение.
                                </p>
                            </blockquote>

                            <h2 class="text-on-centre">Прочая техника для сельского&nbsp;хозяйства</h2>

                        </div><!-- /full-width columns -->

                        <!-- ------------------------------------------------------------------------------------ -->

                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>
                        <div class="pl-33px"><!-- Многогранники -->

                            <div class="column_mng">

                                <div class="small_mng">
                                    <img src="{{ asset('assets/img/content/_mng/01.png') }}" alt="">
                                </div>

                                <div class="polyhedron fx_04">
                                    <a href="/tech/borona-pruzhinnaya" title="Борона пружинная">
                                        <img src="{{ asset('assets/img/content/_mng/borona-pruzhinnaya.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/borona-pruzhinnaya" title="">
                                                Борона пружинная
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 190 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/pritsep-pozharnyi-ppv-2500" title="Прицеп пожарный ППВ-2500">
                                        <img src="{{ asset('assets/img/content/_mng/pritsep-pozharnyi-ppv-2500.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/pritsep-pozharnyi-ppv-2500" title="">
                                                Прицеп пожарный
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 195 000/200 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/okzh" title="Оборудование ОКЖ 5,6">
                                        <img src="{{ asset('assets/img/content/_mng/okzh.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/okzh" title="">
                                                ОКЖ-5,6
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 75 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="small_mng mt-50px">
                                    <img src="{{ asset('assets/img/content/_mng/01.png') }}" alt="">
                                </div>

                            </div>

                            <div class="column_mng">

                                <div class="polyhedron">
                                    <a href="/tech/sistema-parallelnogo-vozhdeniya-agronavigator"
                                       title="Система параллельного вождения, агронавигатор">
                                        <img src="{{ asset('assets/img/content/_mng/sistema-parallelnogo-vozhdeniya-agronavigator.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/sistema-parallelnogo-vozhdeniya-agronavigator" title="">
                                                Агронавигатор
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 45 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/telezhka-dlya-sbora-urozhaya" title="Тележка для сбора урожая">
                                        <img src="{{ asset('assets/img/content/_mng/telezhka-dlya-sbora-urozhaya.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/telezhka-dlya-sbora-urozhaya" title="">
                                                Сбор урожая
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 27 500 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/podvoz-vody" title="Подвоз воды">
                                        <img src="{{ asset('assets/img/content/_mng/podvoz-vody.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/podvoz-vody" title="">
                                                Подвоз воды
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 178 500 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/rezervuary-dlya-vody" title="Резервуары для воды">
                                        <img src="{{ asset('assets/img/content/_mng/rezervuary-dlya-vody.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/rezervuary-dlya-vody" title="">
                                                Резервуары воды
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 150 000 руб.
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="column_mng">

                                <div class="small_mng">
                                    <img src="{{ asset('assets/img/content/_mng/01.png') }}" alt="">
                                </div>

                                <div class="polyhedron fx_04">
                                    <a href="/tech/borona-rotatsionnaya" title="Борона ротационная">
                                        <img src="{{ asset('assets/img/content/_mng/borona-rotatsionnaya.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/borona-rotatsionnaya" title="">
                                                Борона ротационная
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - 230 000 </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/podvoz-zhku-kas" title="Кассеты для подвоза воды, ЖКУ, КАС">
                                        <img src="{{ asset('assets/img/content/_mng/podvoz-zhku-kas.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/podvoz-zhku-kas" title="">
                                                Подвоз ЖКУ/КАС
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 160 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="polyhedron">
                                    <a href="/tech/grabli-voroshilki-senovoroshilka" title="Грабли ворошилки, сеноворошилка">
                                        <img src="{{ asset('assets/img/content/_mng/grabli-voroshilki-senovoroshilka.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="description_mng">
                                    <div class="description_table">
                                        <p id="model_mng">
                                            <a href="/tech/grabli-voroshilki-senovoroshilka" title="">
                                                Грабли ворошилки
                                            </a>
                                        </p>
                                        <p id="price_mng">
                                            Цена - от 28 000 руб.
                                        </p>
                                    </div>
                                </div>

                                <div class="small_mng">
                                    <img src="{{ asset('assets/img/content/_mng/01.png') }}" alt="">
                                </div>

                            </div>

                        </div><!-- /Многогранники -->
                        <br class="clear"><!-- Очистка -->
                        <div class="gap mb-35px"></div>

                        <!-- ------------------------------------------------------------------------------------ -->

                        <div class="full-width columns">

                            <div class="info-box colored-1 rounded mb-35px">
                                <p class="middle-font-size remove-bottom">
                                    Существует множество приспособлений, которые облегчают жизнь и пользуются вниманием
                                    сельхозпроизводителей, независимо от объёма их производства.
                                </p>
                            </div>

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    Например, при обработке опрыскивателем большого участка необходимо пополнять рабочую
                                    жидкость в его резервуаре. Для этой цели пригодятся кассеты ЖКУ с запасом химикатов.
                                </p>
                            </blockquote>

                            <div class="info-box light gradient no-border mb-70px">
                                <p class="middle-font-size remove-bottom">
                                    Большой популярностью в сезон сбора урожая пользуются и тележки ТПУ-500. Эту и другую
                                    необходимую сельхозтехнику тоже можно заказать на нашем сайте.
                                </p>
                            </div>


                            <h2 class="mb-35px">Быстровозводимые бескаркасные и каркасно-тентовые арочные конструкции</h2>

                            <blockquote class="mb-35px">
                                <p class="dark-black">
                                    Быстровозводимые ангары от ООО "АГРО-ТЕХ" (изготавливаются по технологии "MIC
                                    Industries") - это уникальные бескаркасные арочные конструкции из оцинкованной листовой
                                    рулонной стали.
                                </p>
                                <p class="dark-black">
                                    Все детали формируются на месте монтажа, сборка ведется секциями, соединение методом
                                    закатки швов. Отличаются прочностью, жесткостью, коррозионной стойкостью, шириной до 28
                                    м. Срок службы до 50 лет - без какого-либо специального ухода!
                                </p>
                                <p class="dark-black remove-bottom">
                                    Используются как зернохранилища, склады, производственные и бытовые сооружения.
                                </p>
                            </blockquote>

                            {#TODO Доделать ссылки на ангары#}

                            <div class="item-picture mb-50px" data-type="link">
                                <img src="-/stroitelstvo-angarov/angary.jpg" alt="">
                                <div class="image-overlay">
                                    <a href="/angary.php" title="Строительство ангаров"><span class="link"></span></a>
                                </div>
                            </div>

                            <div class="align-center mb-35px">
                                <a href="/stroitelstvo-zernohranilishh.php" class="button large colored bx_shadow">
                                    Строительство зернохранилищ
                                </a>
                            </div>

                            <div class="info-box light gradient no-border mb-35px">
                                <p class="middle-font-size mb-20px">
                                    Основные преимущества:
                                </p>

                                <ul class="check-list colored remove-bottom">
                                    <li>короткое время строительства, обеспеченное высокой технологичностью изготовления и
                                        монтажа конструкций;
                                    </li>
                                    <li>простота обеспечения герметичности;</li>
                                    <li>высокая коррозионная стойкость;</li>
                                    <li>прочность восприятия снеговых и ветровых нагрузок;</li>
                                    <li>небольшой вес и высокая технологичность монтажа;</li>
                                    <li>простота транспортировки материалов и оборудования на стройплощадку;</li>
                                    <li>строительство практически на любом грунте;</li>
                                    <li>доступность возведения даже на большом удалении от населенных пунктов;</li>
                                    <li>возможность сооружения утепленных объектов различного назначения, с высокими
                                        теплотехническими показателями;
                                    </li>
                                    <li>доступность материалов и низкая стоимость строительных работ;</li>
                                    <li>практичность, долговечность, привлекательный и разнообразный внешний вид строений.
                                    </li>
                                </ul>
                            </div>

                            <div class="align-center mb-35px">
                                <a href="/angary.php" class="button large colored bx_shadow">
                                    Строительство ангаров
                                </a>
                            </div>

                            <div class="info-box colored-1 rounded mb-50px">
                                <p class="middle-font-size remove-bottom">
                                    Бескаркасные и каркасно-тентовые арочные сооружения ООО "АГРО-ТЕХ" являются наиболее
                                    бюджетным решением в области строительства быстровозводимых зданий. Это хороший выбор
                                    для современного бизнеса.
                                </p>
                            </div>

                        </div><!-- /full-width columns -->

                        <div id="glr-wrapper" class="medium-col-space no-bg no-sep long-description clearfix">

                            <div class="row">

                                <!-- 1/2 -->
                                <div class="one-half columns glr-item-preview">
                                    <article>
                                        <div class="item-picture" data-type="image">
                                            <img src="/-/stroitelstvo-angarov/tsena/01.jpg" alt="">
                                        </div>
                                        <div class="item-description mb-12px">
                                            <p class="large-font-size black">
                                                Ангар бескаркасный
                                            </p>
                                            <p class="">
                                                Цена - от <span class="large-font-size colored-text-2">&nbsp;2 500</span>&nbsp;
                                                руб. за кв. м
                                            </p>
                                        </div>
                                    </article>
                                </div>

                                <!-- 1/2 -->
                                <div class="one-half columns glr-item-preview">
                                    <article>
                                        <div class="item-picture" data-type="image">
                                            <img src="/-/stroitelstvo-angarov/tsena/02.jpg" alt="">
                                        </div>
                                        <div class="item-description mb-12px">
                                            <p class="large-font-size black">
                                                Навес бескаркасный
                                            </p>
                                            <p class="">
                                                Цена - от <span class="large-font-size colored-text-2">&nbsp;2 200</span>&nbsp;
                                                руб. за кв. м
                                            </p>
                                        </div>
                                    </article>
                                </div>

                            </div>
                            <div class="row mb-30px">

                                <!-- 1/2 -->
                                <div class="one-half columns glr-item-preview">
                                    <article>
                                        <div class="item-picture" data-type="image">
                                            <img src="/-/stroitelstvo-angarov/tsena/03.jpg" alt="">
                                        </div>
                                        <div class="item-description mb-12px">
                                            <p class="large-font-size black">
                                                Ангар тентовый
                                            </p>
                                            <p class="">
                                                Цена - от <span class="large-font-size colored-text-2">&nbsp;3 000</span>&nbsp;
                                                руб. за кв. м
                                            </p>
                                        </div>
                                    </article>
                                </div>

                                <!-- 1/2 -->
                                <div class="one-half columns glr-item-preview">
                                    <article>
                                        <div class="item-picture" data-type="image">
                                            <img src="/-/stroitelstvo-angarov/tsena/04.jpg" alt="">
                                        </div>
                                        <div class="item-description mb-12px">
                                            <p class="large-font-size black">
                                                Навес тентовый
                                            </p>
                                            <p class="">
                                                Цена - от <span class="large-font-size colored-text-2">&nbsp;2 500</span>&nbsp;
                                                руб. за кв. м
                                            </p>
                                        </div>
                                    </article>
                                </div>

                            </div>

                        </div><!-- /glr-wrapper -->

                        <div class="full-width columns">

                            <p class="psevdo_h2 mb-40px">Особенности продукции ООО&nbsp;"АГРО-ТЕХ"</p>

                            <div class="info-box colored-1 rounded mb-35px">
                                <p class="middle-font-size remove-bottom">
                                    Опытные руководители сельхозпредприятий знают, что покупать технику нужно у проверенных
                                    производителей, которые реализуют только сертифицированное оборудование, хорошо
                                    зарекомендовавшее себя в работе.
                                </p>
                            </div>

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    ООО "АГРО-ТЕХ" располагает собственной испытательной и производственной базой.
                                </p>
                            </blockquote>

                            <div class="info-box light gradient no-border mb-35px">
                                <p class="middle-font-size mb-20px">
                                    Качественная, надежная и недорогая продукция ООО "АГРО-ТЕХ" создаётся на основе:
                                </p>
                                <ul class="check-list colored remove-bottom">
                                    <li>собственного опыта специалистов компании;</li>
                                    <li>последних научно-технических достижений;</li>
                                    <li>анализа требований сельхозпроизводителей.</li>
                                </ul>
                            </div>

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    Производство осуществляется с применением инновационных технологий на современном
                                    оборудовании.
                                </p>
                            </blockquote>

                            <div class="info-box colored-1 rounded mb-35px">
                                <p class="middle-font-size remove-bottom">
                                    Оригинальные технические решения, которые заложены в конструкции моделей, подтверждены
                                    многочисленными патентами.
                                </p>
                            </div>

                            <blockquote class="mb-35px">
                                <p class="dark-black remove-bottom">
                                    В процессе сборки используются итальянские, немецкие, турецкие и польские комплектующие
                                    - насосы, распылители, регуляторы, фильтры.
                                </p>
                            </blockquote>

                            <div class="info-box light gradient no-border remove-bottom">
                                <p class="middle-font-size remove-bottom">
                                    Техника компании соответствует отечественным ГОСТам, мировым стандартам качества и
                                    нормативам ГНУ ВИЗР. Она проста в эксплуатации и обслуживании и не раз удостаивалась
                                    высоких наград на разнообразных сельскохозяйственных выставках.
                                </p>
                            </div>

                        </div><!-- /full-width columns -->


                        <!----------------------------------------------------------------------------------------------------------------------------------------------->

                        <div class="clear mb-70px"></div>

                        <div class="full-width columns">

                            <noscript>
                                <div class="hidden">
                            </noscript>

                            <div class="info-box light gradient no-border bx_shadow">
                                <p class="psevdo_h2 text-on-centre mb-5px">Обратный звонок</p>
                                <p class="text-on-centre mb-25px">в течении 5 минут - работаем&nbsp;с&nbsp;8-00&nbsp;до&nbsp;17-00</p>

                                <!-- Форма -->
                                <form method="post" id="comment-form" class="form">
                                    <div>
                                        <input name="tlfn" type="text" maxlength="18" value="" placeholder="Номер телефона"
                                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required="">
                                    </div>
                                    <div>
                                    <textarea name="message" maxlength="100" placeholder="Что интересует?"
                                              required=""></textarea>
                                    </div>

                                    <div class="fantome">
                                        <input name="your-name" type="text" value="" id="your-name"
                                               placeholder="Контактное лицо">
                                    </div>

                                    <div class="fantome">
                                        <input id="your-city" name="your-city" type="text" value="" placeholder="Город">
                                    </div>

                                    <div id="submit-button">
                                        <input name="submit" type="submit" value="Отправить"
                                               class="button large colored mb-25px"
                                               onclick="document.getElementById('your-city').value = 'TGN';">
                                        <img src="../_/i/33.gif" alt="Загрузка..."
                                             style="width: 16px; height: 11px; display: none;"></div>

                                    <div class="large-font-size" style="display: none;"></div>
                                </form>
                                <!-- /Форма -->

                                <!-- Оповещение формы -->

                                <!-- /Оповещение формы -->

                            </div>

                            <noscript>
                        </div>
                        </noscript><!-- /hidden-->
                </div><!-- /full-width columns -->

                <!----------------------------------------------------------------------------------------------------------------------------------------------->

        </section><!-- /840 px -->
        <!-- /Основной контент страницы (левый блок) -->
    {% endblock %}

{% endblock %}
