{% for tech in techs %}
<div class="info-box tight no-border shadow clearfix mb-30px">
    <div class="width-250px image-left adapted-max-767px remove-bottom">
        <img src="/{{ tech.getSmallImage() }}" alt="{{ tech.getName }}" class="scale-with-grid">
    </div>
    <div class="offset-right-10px">
        <p class="group_title mb-20px">
            <a href="{{ path('selhoztehnika_show', {'url' : tech.getUrl }) }}">
                {{ tech.getName }}
            </a></p>
        <p class="small-font-size mb-10px">
            {{ tech.getShortDescription }}
        </p>
        <a href="{{ path('selhoztehnika_show', {'url' : tech.getUrl }) }}" class="link-sm colored-text-2">
            далее...
            <span></span></a>
    </div>
</div>
{% endfor %}

{{ content | raw }}