{% extends 'base.html.twig' %}

{% block title %}TechCategory index{% endblock %}

{% block body %}
    <h1>TechCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Url</th>
                <th>Small_image</th>
                <th>Side_bar_image</th>
                <th>Content</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tech_category in tech_categories %}
            <tr>
                <td>{{ tech_category.id }}</td>
                <td>{{ tech_category.name }}</td>
                <td>{{ tech_category.title }}</td>
                <td>{{ tech_category.url }}</td>
                <td>{{ tech_category.smallImage }}</td>
                <td>{{ tech_category.sideBarImage }}</td>
                <td>{{ tech_category.content }}</td>
                <td>{{ tech_category.created ? tech_category.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tech_category.updated ? tech_category.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tech_category_show', {'id': tech_category.id}) }}">show</a>
                    <a href="{{ path('tech_category_edit', {'id': tech_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tech_category_new') }}">Create new</a>
{% endblock %}
