{% extends 'base.html.twig' %}

{% block title %}Costumer index{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Costumer index</h1>

        <a class="btn btn-sm btn-primary mb-2" href="{{ path('costumer_new') }}">Создать</a>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Inn</th>
                <th>Contacts</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address_id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for costumer in costumers %}
                <tr>
                    <td>{{ costumer.id }}</td>
                    <td>{{ costumer.title }}</td>
                    <td>{{ costumer.inn }}</td>
                    <td>{{ costumer.contacts }}</td>
                    <td>{{ costumer.email }}</td>
                    <td>{{ costumer.phone }}</td>
                    <td>{{ costumer.address.getFullAddress }}</td>
                    <td>{{ costumer.created ? costumer.created|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ costumer.updated ? costumer.updated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm mb-2" href="{{ path('costumer_show', {'id': costumer.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm mb-2" href="{{ path('costumer_edit', {'id': costumer.id}) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
