{% extends 'base.html.twig' %}

{% set bodyClass = 'angary' %}

{% set title = 'Строительство быстровозводимых бескаркасных арочных ангаров' %}

{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Строительство ангаров
    </h1>
{% endblock %}

{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: bottom;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}

{% block content %}
    <div class="row m-0 pb-3 justify-content-around">
        {% for category in categories %}
            <div class="col-md-4 pt-3">
                <!--To do: Add width in ccs or use row and col!-->
                <div class="card">
                    <div class="more-info">
                        <div class="more-info__center">
                            <a class="btn btn-dark" href="{{ path('angar_category_show', {'url' : category.url}) }}">
                                <span> Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <img src="{{ asset(category.smallImage) }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text text-justify">
                            {{ category.content }}
                        </p>
                        {#<a href="{{ path('category', {'url' : category.url}) }}" class="btn btn-primary">Посмотреть</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}



    </div>

    <div class="row m-0 p-3">
        <div class="alert alert-success w-100 text-center m-0" role="alert">
						<span class="font-italic">Смотрите также </span>
						<a href="{{ path('gallery') }}" class="alert-link">Галлерея рабочих моментов</a>
						<a href="{{ path('angar_show_all') }}" class="alert-link">Построенные ангары</a>
        </div>
    </div>

    <div class="row m-0 p-3 text-justify">
        <p>
            ООО "АГРО-ТЕХ" имеет большой опыт проектирования и строительства быстровозводимых металлических сооружений. Ежегодно компания строит и сдает в эксплуатацию десятки тысяч квадратных метров бескаркасных арочных конструкций.
        </p>

        <div class="row">
            <div class="col-sm-8">
                <div class="w-100">
                    <p>
                        Строительство быстровозводимых бескаркасных арочных сооружений:
                    </p>

                    <ul>
                        <li>зернохранилища (зернотоки);</li>
                        <li>овощехранилища (хранилища для лука, картофелехранилища);</li>
                        <li>ангары для скота и птицы (свинарники, телятники, овчарни, птичники);</li>
                        <li>авиационные ангары (типовые и по индивидуальному проекту);</li>
                        <li>производственные помещения, гаражи, навесы (укрытия для сельхозтехники, сенохранилища);</li>
                        <li>торговые и выставочные павильоны, офисные помещения</li>
                        <li>ангары для социальной сферы, в том числе - спортзалы, крытые бассейны и прочие объекты; </li>
                        <li>иные конструкции бытового и производственного назначения</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('angar_show_all') }}" target="_blank">
                    <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/001.jpg') }}" alt="" align="right" class="img-fluid py-3">
                </a>
            </div>
        </div>

    </div>
    <div class="col">
        <a href="{{ path('angary_types', {'type' : 'beskarkasnoe-arochnoe-stroitelstvo'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
    </div>


    <div class="row m-0 p-3">
        <div class="w-100" id="accordion" role="tablist">
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Какие бывают разновидности ангаров ?
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar1" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/001s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Зернохранилище</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Идеальная по форме конструкция для хранения зерновых культур.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/001.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Идеальная по форме конструкция для хранения зерновых культур.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar2" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/002s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Цех, гараж</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Различные варианты утепления. Возможны вставки поликарбоната.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/002.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Различные варианты утепления. Возможны вставки поликарбоната.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar3" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/003s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Овощехранилище</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Утепление пенополиуретаном, монтаж системы вентиляции.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/003.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Утепление пенополиуретаном, монтаж системы вентиляции.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar4" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/004s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Для скота и птицы</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Подъем арки боковыми стойками либо фундаментом. Вставки поликарбоната.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/004.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Подъем арки боковыми стойками либо фундаментом. Вставки поликарбоната.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar5" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/005s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Авиаангар</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Естественное освещение - прозрачный поликарбонат. Ворота по всей ширине.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/005.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Естественное освещение - прозрачный поликарбонат. Ворота по всей ширине.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar6" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/006s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Склад, производство</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 28 метров. Вставки поликарбоната для освещения. Возможны тамбуры.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/006.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 28 метров. Вставки поликарбоната для освещения. Возможны тамбуры.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar7" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/007s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Сенохранилище</h4>
                                        <p class="card-text text-justify">
                                            Ширина от 12 до 18 метров. Возможно перепрофилирование в ангар арочного типа.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/007.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    Ширина от 12 до 18 метров. Возможно перепрофилирование в ангар арочного типа.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar8" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/008s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Автостоянка</h4>
                                        <p class="card-text text-justify">
                                            Ширина каждой арки от 12 до 18 метров. Допустимо перепрофилирование в двойной ангар.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/008.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    Ширина каждой арки от 12 до 18 метров. Допустимо перепрофилирование в двойной ангар.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar9" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/009s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Укрытие для скота </h4>
                                        <p class="card-text text-justify">
                                            От 12 до 18 метров. Вариант с торцами.
                                        </p>
                                    </div>
                                </div>
                                                    <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/009.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 18 метров. Вариант с торцами.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar10" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/010s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Укрытие спецтехники</h4>
                                        <p class="card-text text-justify">
                                            От 12 до 18 метров. Вариант без торцов.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/010.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 12 до 18 метров. Вариант без торцов.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAnga11" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/011s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Тентовый универсал</h4>
                                        <p class="card-text text-justify">
                                            От 9 до 12 метров. Торцы могут быть с металлическими воротами (крепление на сваях).
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/011.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 9 до 12 метров. Торцы могут быть с металлическими воротами (крепление на сваях).
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar12" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/012s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Авиационный (тент)</h4>
                                        <p class="card-text text-justify">
                                            От 9 до 12 метров. Опционально металлические ворота по всей ширине.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/012.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 9 до 12 метров. Опционально металлические ворота по всей ширине.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar13" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/013s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Тентовый для скота и птицы</h4>
                                        <p class="card-text text-justify">
                                            От 9 до 12 метров. Торцы - лес и металл, купол - частично лес, тент. Фундамент - 50 см.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/013.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    От 9 до 12 метров. Торцы - лес и металл, купол - частично лес, тент. Фундамент - 50 см.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 pb-3">
                                <div class="card">
                                    <!-- Img trigger modal -->
                                    <a data-toggle="modal" data-target="#typeAngar14" style="cursor: pointer">
                                        <img class="card-img-top" src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/014s.jpg') }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Навес каркасно-тентовый</h4>
                                        <p class="card-text text-justify">
                                            Ширина от 9 до 12 метров. Возможность перепрофилирования в ангар.
                                        </p>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal bd-example-modal-xl" id="typeAngar14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/raznovidnosti/014.jpg') }}" alt="" class="w-100 img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <p class="card-text text-justify small">
                                                    Ширина от 9 до 12 метров. Возможность перепрофилирования в ангар.
                                                </p>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!------------------------------------>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Что такое арочные ангары ?
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <p>
                            <strong>Арочные ангары</strong> получили широкое распространение в более чем 60 странах мира. Их популярность во многом определяется высоким спросом на недорогие производственные и складские площади.
                        </p>

                        <p>
                            Технология позволяет в сжатые сроки и с минимальным бюджетом построить ангар под потребности конкретного заказчика в удобном для него месте.
                        </p>

                        <p>
                            Строительство металлического арочного ангара связано с его сооружением из профиля оцинкованной рулонной листовой стали, выполняющего роль несущей конструкции.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }}" alt="" class="img-fluid float-right py-3">
                        </a>

                        <p>
                            Технология возведения ангаров арочного типа обладает рядом существенных преимуществ, связанных как непосредственно с самим строительством, так и с последующей эксплуатацией данных сооружений. Это и сравнительно небольшой вес несущей конструкции, и скорость, и высокий уровень технологичности монтажа на любом грунте, отсутствие работ "мокрого" строительства, практичность, долговечность, привлекательный внешний вид строений.
                        </p>

                        <a href="{{ path('angary_types', {'type' : 'arochnye-angary'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading9">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            Какова стоимость строительства ?
                        </a>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="card-body">
                        <div>
                            <p>
                                Ценовое предложение ООО "АГРО-ТЕХ" на текущий момент является одним из наиболее выгодных на российском отраслевом рынке бескаркасных металлических конструкций.
                            </p>
                        </div>

                        <div class="row m-0">
                            <div class="col-md-6 pb-3">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('assets/img/content/angary/angary-zernohranilishha-ovoshhehranilishha-sklady.jpg') }}" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Ангар бескаркасный</h4>
                                        <p class="card-text text-center">
                                            Цена - от  2 500  руб. за кв. м
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pb-3">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('assets/img/content/angary/beskarkasnye-arochnye-navesy.jpg') }}" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Навес бескаркасный</h4>
                                        <p class="card-text text-center">
                                            Цена - от  2 200  руб. за кв. м
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('assets/img/content/angary/tentovye-angary-universalnogo-tipa.jpg') }}" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Ангар тентовый</h4>
                                        <p class="card-text text-center">
                                            Цена - от  3 000  руб. за кв. м
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('assets/img/content/angary/navesy-karkasno-tentovye.jpg') }}" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Навес тентовый</h4>
                                        <p class="card-text text-center">
                                            Цена - от  2 500  руб. за кв. м
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                            Ангары арочного типа - этапы строительства
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                        <p>
                            Возведение бескаркасного арочного ангара осуществляется в несколько этапов:
                        </p>

                        <ul>
                            <li>разметка - определение положения предполагаемого сооружения, бурение отверстий под трубы, завоз металла, бетонирование;</li>
                            <li>"ноль" - подготовка строительной площадки к возведению ангара;</li>
                            <li>изготовление либо доставка необходимого профиля и установка купола в виде арки;</li>
                            <li>установка торцевых стенок, ворот, врезка окон и, в случае необходимости, боковых тамбуров;</li>
                            <li>установка опалубки, заливка бетоном, демонтаж опалубки, наружная гидроизоляция;</li>
                            <li>утепление ангара (по желанию клиента).</li>
                        </ul>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/003.jpg') }}" alt="" class="img-fluid float-right py-3">
                        </a>

                        <a href="{{ path('angary_types', {'type' : 'tehnologia-stroitelstva-beskarkasnyh-angarov'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <!------------------------------------>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingFour">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                            Каркасные и бескаркасные ангары - в чем разница?
                        </a>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-body">
                        <p class="text-justify">
                            Ни для кого не секрет, что каждый заказчик стремится получить надежное и качественное помещение, не прибегая к значительным финансовым затратам.
                        </p>

                        <p class="text-justify">
                            В этой связи все большую популярность приобретают быстровозводимые ангары из ЛМК (легких металлоконструкций).
                        </p>

                        <div class="row">
                            <div class="col-lg-6 pb-3">
                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/sravnenie/001.jpg') }}" alt="" class="img-fluid">
                            </div>
                            <div class="col-lg-6 pb-3">
                                <img src="{{ asset('assets/img/content/stroitelstvo-angarov/sravnenie/002.jpg') }}" alt="" class="img-fluid">
                            </div>
                        </div>

                        <p class="text-justify">
                            В сегменте плодоовощных и зерновых хранилищ, а также различных промышленных складов серьезно конкурируют каркасные (с применением металлического каркаса) и бескаркасные (арочного типа) сооружения.
                        </p>

                        <!-- <a name="karkasnye-i-beskarkasnye-angary"></a> -->
                        <a href="{{ path('angary_types', {'type' : 'karkasnye-i-beskarkasnye-angary'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <!------------------------------------>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingFive">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                            Технология строительства арочных ангаров - какие основные преимущества ?
                        </a>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-body text-justify">
                        <p>
                            Строительство арочного ангара возможно практически на любом грунте. Относительно небольшой вес конструкции позволяет обходиться без фундамента глубокого заложения.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/006.jpg') }}" alt="" class="img-fluid float-right p-3">
                        </a>

                        <p>
                            Темпы строительства бескаркасных арочных сооружений беспрецедентно высокие. Например, конструкция ангара площадью 1000 кв. м. возводится за пять рабочих дней. А полный цикл (от "нуля" до сдачи "под ключ") осуществляется бригадой строителей численностью 10-12 человек за 20-25 дней.
                        </p>

                        <p>
                            Профилирование листа происходит на высокотехнологичном оборудовании американского производства (MIC Industries), а также на высокопроизводительных машинах серии МБС "Радуга". Этот комплекс представляет собой мини-заводы, начинающие свою работу непосредственно по прибытии к месту монтажа.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/007.jpg') }}" alt="" class="img-fluid float-right p-3">
                        </a>

                        <p>
                            Прокатывая рулонную оцинкованную сталь толщиной от 0,7 мм до 1,4 мм данные машины формируют самонесущие гофрированные панели (на данном этапе происходит гибка металла). Преимуществом используемого оборудования является возможность "плавного" регулирования радиуса арки, что позволяет варьировать ширину сооружения от 12 до 28 метров.
                        </p>

                        <p>
                            При помощи забортовочной машины изготовленные детали сшиваются между собой прочным водонепроницаемым швом. Такой способ делает конструкцию ангара практически монолитным и полностью герметичным. Арочные секции с помощью автокрана устанавливаются в вертикальной плоскости, соединяясь между собой также с помощью забортовочной машины. По мере необходимости применяется различная строительная техника универсального типа.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/008.jpg') }}" alt="" class="img-fluid float-right p-3">
                        </a>

                        <p>
                            Арочные панели могут использоваться для строительства быстровозводимого сооружения в целом, либо для арочной кровли, имеющей в основании боковые стенки.
                        </p>

                        <p>
                            Оригинальный способ крепления арок придает особую прочность конструкции и отвечает всем требованиям безопасности при стихийном внешнем воздействии - ветровом, снеговом, сейсмическом.
                        </p>

                        <p>
                            При строительстве бескаркасного ангара самонесущие арки перекрывают пролеты до 20-28 метров шириной без каких-либо промежуточных колонн, стоек или балок. Это позволяет использовать полезную площадь здания наиболее эффективно. При этом длина ангара может быть любой, без каких-либо ограничений.
                        </p>

                        <a href="{{ path('angary_types', {'type' : 'preimushhestva-beskarkasnogo-stroitelstva'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading12">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            Комплектация ангаров
                        </a>
                    </h5>
                </div>
                <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12">
                    <div class="card-body text-justify">
                        <div>
                            <p>
                                Комплектация варьируется в соответствии с пожеланиями заказчика:
                            </p>

                            <ul>
                                <li>окна из поликарбоната (арочная схема), ворота, тамбуры различного размера в необходимом заказчику количестве;</li>
                                <li>в ангаре дополнительно возможна постройка помещений бытового назначения;</li>
                                <li>в случае необходимости специалистами компании могут быть смонтированы системы отопления и вентиляции, а также произведена установка дополнительного освещения</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading14">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            Оформление проектно-строительной документации
                        </a>
                    </h5>
                </div>
                <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14">
                    <div class="card-body text-justify">
                        <p>
                            Основное преимущество оформления проектно-строительной документации на быстровозводимые
                            конструкции в том, что в зависимости от целей заказчика сооружение может иметь как
                            статус временного строения, так и статус капитального.
                        </p>

                        <p>
                            В случае необходимости специалисты ООО "АГРО-ТЕХ" предоставят подробную консультацию
                            по данному вопросу. После выполнения всех работ компания выдает клиентам необходимую
                            <strong>проектную, бухгалтерскую и строительную документацию по объекту</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading13">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                            Каковы особенности эксплуатации бескаркасных металлических ангаров ?
                        </a>
                    </h5>
                </div>
                <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13">
                    <div class="card-body text-justify">
                        <blockquote>
                            <p>
                                Многопрофильность арочного ангара предоставляет широкие возможности его применения, делая достаточно свободным его перепрофилирование: одно и то же строение может использоваться как склад, животноводческий комплекс или производственное помещение.
                            </p>
                        </blockquote>

                        <div>
                            <p>
                                Применение в качестве исходного материала качественной оцинкованной стали и возможность покрытия поверхности специальной краской позволяет существенно повысить коррозионную стойкость конструкций и получить архитектурное решение в нужной цветовой гамме.
                            </p>
                        </div>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/013.jpg') }}" alt="" class="img-fluid float-right py-3">
                        </a>

                        <blockquote>
                        <p>
                            Необходимо отметить и высокую сопротивляемость снеговым и ветровым нагрузкам. Металлические арочные ангары обладают достаточно высокой степенью прочности. По данным специалистов они выдерживают ветровую нагрузку до 200 км/час и снеговую нагрузку до 240 кг/кв. м, имея полезный срок службы порядка 30 лет.
                        </p>
                        </blockquote>

                        <div>
                            <p>
                                Более того, при условии соблюдения элементарных правил эксплуатации крупногабаритных металлических конструкций этот срок превышает 50 лет.
                            </p>
                        </div>

                        <a href="{{ path('angary_types', {'type' : 'arochnye-angary-istoriya'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading10">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            Утепление ангара ?
                        </a>
                    </h5>
                </div>
                <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10">
                    <div class="card-body">
                        <p>
                            В зависимости от назначения ангара может возникнуть необходимость его утепления.
                        </p>

                        <p>
                            ООО "АГРО-ТЕХ" имеет многолетний опыт утепления поверхностей как классическими, так и инновационными способами.
                        </p>

                        <p>
                            В частности, как строящиеся, так и уже существующие ангары утепляются эковатой, пенополиуретановыми плитами, а также другими материалами по согласованию с заказчиком.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/010.jpg') }}" alt="" class="img-fluid float-right py-3">
                        </a>

                        <p>
                            Наиболее оптимальный способ утепления ангара - напыление слоя пенополиуретана. Данный материал обеспечивает пониженную теплопроводность, высокий срок службы, герметичность, качественную адгезию теплоизолятора к поверхностям различного типа, эффективное звукопоглощение.
                        </p>

                        <p>
                            Стоимость утепления пенополиуретаном зависит от множества факторов, в числе которых - качество сырья, температура окружающей среды, тип поверхности, качество используемого оборудования и т.д. В отличие от множества строительных компаний, работающих на установках отечественного производства, ООО "АГРО-ТЕХ" выполняет работы по утеплению пенополиуретаном с применением новейшего зарубежного оборудования.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/011.jpg') }}" alt="" class="img-fluid float-right py-3">
                        </a>

                        <div>
                            <p>
                                В настоящее время у нас действуют сезонные скидки, благодаря чему расценки на теплоизоляцию металлического ангара составляют:
                            </p>
                            <ul>
                                <li>при слое толщиной 1 см - от <span class="large-font-size colored-text-2">&nbsp;200</span>&nbsp; руб. за&nbsp;1&nbsp;кв.&nbsp;м. площади напыления;</li>
                                <li>- // - &nbsp;&nbsp; 2 см - от <span class="large-font-size colored-text-2">&nbsp;400</span>&nbsp; руб. за&nbsp;1&nbsp;кв.&nbsp;м.</li>
                                <li>- // - &nbsp;&nbsp; 3 см - от <span class="large-font-size colored-text-2">&nbsp;600</span>&nbsp; руб. за&nbsp;1&nbsp;кв.&nbsp;м.</li>
                                <li>- // - &nbsp;&nbsp; 4 см - от <span class="large-font-size colored-text-2">&nbsp;800</span>&nbsp; руб. за&nbsp;1&nbsp;кв.&nbsp;м.</li>
                                <li>- // - &nbsp;&nbsp; 5 см - от <span class="large-font-size colored-text-2">&nbsp;1000</span>&nbsp; руб. за&nbsp;1&nbsp;кв.&nbsp;м.</li>
                            </ul>
                        </div>

                        <p>
                            Решая широкий круг задач по утеплению, компания "АГРО-ТЕХ" гарантирует высокое качество работ и короткие сроки их выполнения.
                        </p>

                        <!--                            <a name="uteplenie-penopoliuretanom"></a>-->
                        <a href="{{ path('angary_types', {'type' : 'uteplenie-penopoliuretanom'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <!------------------------------------>

            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="headingSix">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                            Каркасно-тентовые ангары
                        </a>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="card-body text-justify">
                        <p>
                            Тентовый ангар представляет собой быстровозводимую конструкцию, состоящую из несущего металлического каркаса и тентовой ткани, выполняющей роль обшивки.
                        </p>

                        <p>
                            Компания "АГРО-ТЕХ" разработала типовой проект каркасно-тентового ангара, имеющего широкую область применения.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/009.jpg') }}" alt="" class="img-fluid p-3">
                        </a>

                        <div>
                            <p>
                                Конструкция ангара состоит из следующих основных частей:
                            </p>

                            <ul>
                                <li>разбираемого несущего каркаса из стальных, окрашенных труб;</li>
                                <li>тентовой оболочки (включает в себя основной купол и торцевые зашивки).</li>
                            </ul>
                        </div>

                        <p>
                            Ширина каркасно-тентовой конструкции может достигать 12 метров. Фронтальная зашивка предусматривает наличие входа, тыльная зашивка - глухая.
                        </p>

                        <p class="dark-black remove-bottom">
                            Оболочка центрального купола изготовлена из высококачественной тентовой ткани канадского производства (NOVA), торцевые зашивки - из ткани ПВХ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading7">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapseTwo">
                            Где хранить урожай?
                        </a>
                    </h5>
                </div>
                <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="card-body text-justify">

                        <p>
                            Оптимальная организация условий хранения сельскохозяйственной продукции является актуальным вопросом для аграрных предприятий.
                        </p>

                        <p>
                            Устаревшие хранилища, амбары, склады и прочие сооружения уже не соответствуют современным требованиям, а многие из них и просто непригодны для использования.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img class="mb-3" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/004.jpg') }}" alt="">
                        </a>

                        <p>
                            Хранилища нового образца должны быть долговечными, превосходящими своих предшественников по санитарно-гигиеническим характеристикам, а также по технологичности и рентабельности.
                        </p>

                        <!--                    <a name="stroitelstvo-zernohranilishh-i-ovoshehranilishh"></a>-->
                        <a href="{{ path('angary_types', {'type' : 'stroitelstvo-zernohranilishh-i-ovoshehranilishh'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header" role="tab" id="heading8">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapseTwo">
                            Авиационные ангары
                        </a>
                    </h5>
                </div>
                <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8">
                    <div class="row m-0 p-3 text-justify">

                        <p>
                            В последние годы во многих странах мира наблюдается повышение интереса к частной авиации. И Россия здесь не является исключением.
                        </p>

                        <p>
                            Учитывая постоянно растущую потребность в ангарах для малой авиации, ООО "АГРО-ТЕХ" предлагает ряд проверенных временем конструктивных решений для различных типов частных самолетов и вертолетов.
                        </p>

                        <a href="{{ path('angar_show_all') }}" target="_blank">
                            <img class="mb-3" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/005.jpg') }}" alt="">
                        </a>

                        <p>
                            Многолетний опыт предприятия позволяет гарантировать высокое качество изготовления и монтажа данных сооружений.
                        </p>

                        <p>
                            Помимо готовых (типовых) вариантов, компания осуществляет проектирование и монтаж ангаров под потребности и финансовые возможности конкретного заказчика.
                        </p>

                        <a href="{{ path('angary_types', {'type' : 'aviatsionnye-angary'}) }}" class="btn btn-lg btn-primary">Читать далее...</a>
                    </div>
                </div>
            </div>
            <!------------------------------------>
        </div>
    </div>

{% endblock %}