{% extends 'base.html.twig' %}

{% set bodyClass = 'partners partners-techs ' %}

{% block h1 %}
    <h2 class="text-center bg-success text-white line-height-18 my-3">
        {{ h1 }}
    </h2>
{% endblock %}

{% block content %}
    <div class="row px-2">
        {% for tech in partner_techs %}
            <div class="col-md-4 pt-3">
                <!--To do: Add width in ccs or use row and col!-->
                <div class="card">
                    <div class="more-info">
                        <div class="more-info__center">
                            <a class="btn btn-dark" href="{{ path('partner_tech_show_one', {'url' : tech.url}) }}">
                                <span> Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <img src="{{ asset(tech.smallImage) }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ tech.name }}</h5>
                        {#<p class="card-text text-justify">
                            {{ category.content|length > 70 ? category.content|slice(0,70) ~ '...' : category.content }}
                        </p>#}
                        {#<a href="{{ path('category', {'url' : category.url}) }}" class="btn btn-primary">Посмотреть</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}


