{% extends 'angar.layout.html.twig' %}

{% set bodyClass = 'angary ' ~angar.getCategory.getUrl %}

{% set title = angar.getCategory.getName~', Ширина - '~angar.getWidth~'м, Длина - '~angar.getLength~'м, построенный ООО "АГРО-ТЕХ" в '~angar.getAddress.getRegion~ ' '
    ~angar.getAddress.getRegionIndex~ ' '
    ~angar.getAddress.getCity~ ' '
    ~angar.getAddress.getDistrict~ ' район'
%}

{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        {{ angar.getCategory.getName }}, Ширина - {{ angar.getWidth }}м, Длина - {{ angar.getLength }}м
    </h1>
{% endblock %}


{% block content %}
    <div class="row m-0 pb-3">
        <div class="row col-12">
            <div class="col-lg-9 p-0 px-3 hangars__type">
                <h3>{{ angar.getCategory.getName }}</h3>
            </div>
            <div class="col-lg-3 p-0">
                <a href="{{ path('angar_show_all') }}" class="btn btn-primary float-lg-right">Все ангары</a>
            </div>
        </div>


        <div class="row m-0 p-3">
            <div class="col-12 hangars__dimentions">
                <p>Ширина: {{ angar.getWidth }} м,</p>
                <p>Длина: {{ angar.getLength }} м</p>
            </div>
            <p>Место строительства: </p>
            <div class="col-12 hangars__address">
                <address>
                    {{ angar.getAddress.getRegion }}
                    {{ angar.getAddress.getRegionIndex }}
                    {{ angar.getAddress.getCity }}
                    {{ angar.getAddress.getDistrict }} район
                </address>
            </div>
            <p>
                Заказчик:
            </p>
            <div class="col-12 hangars__costumers">

                <span>
                    {{ angar.getCostumer.getTitle }}
                </span>
            </div>
        </div>
        <div class="row m-0">
            {% for items in angar.getImages %}

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumb hangars__item">

                    <a data-fancybox="gallery" href="{{ items.path }}{{ items.nameMd5 }}">
                        <img class="img-thumbnail m-2" src="{{ items.pathThumbnail }}{{ items.nameMd5 }}" alt="">
                    </a>

                    {% if is_granted("ROLE_ADMIN") %}
                        {% if items.getFirst() %}
                            <i class="far fa-check-square"></i>
                        {% else %}
                            <a class="text-dark" href="{{ path('angar_image_set_first', {'id' : items.getId()}) }}"><i class="far fa-square"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <h3 class="text-center bg-primary text-white line-height-18 my-3">
        Построенный ангар на карте
    </h3>
    <div class="row m-0 pb-3 ">
        <div id="hangarMap" class="col-12" style="height: 400px"></div>
    </div>

{% endblock %}