{% extends 'base.html.twig' %}

{% block title %}Angar index{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Angar index</h1>

        <a class="btn btn-sm btn-primary mb-2" href="{{ path('angar_new') }}">Создать</a>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Width</th>
                <th>Length</th>
                <th>Square</th>
                <th>Costumer</th>
                <th>Address_id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for angar in angars %}
                <tr>
                    <td>{{ angar.id }}</td>
                    <td>{{ angar.width }}</td>
                    <td>{{ angar.length }}</td>
                    <td>{{ angar.square }}</td>
                    <td>{{ angar.costumer.getTitle }}</td>
                    <td>{{ angar.address.getFullAddress }}</td>
                    <td>{{ angar.created ? angar.created|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ angar.updated ? angar.updated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary mb-2" href="{{ path('angar_show', {'id': angar.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-sm btn-primary mb-2" href="{{ path('angar_edit', {'id': angar.id}) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
