{% extends 'angar.layout.html.twig' %}

{% set bodyClass = angar_category.url %}

{% set title = 'Строительство быстровозводимых бескаркасных арочных ангаров, ' ~angar_category.name|capitalize %}

{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        {{ angar_category.name|capitalize }}
    </h1>
{% endblock %}

{% block content %}
    <div class="row m-0 pb-3 justify-content-around">
        {% for angar in angar_category.angars %}
            <div class="col-md-4 pt-3">
                <!--To do: Add width in ccs or use row and col!-->
                <div class="card">
                    <div class="more-info">
                        <div class="more-info__center">
                            <a class="btn btn-dark" href="{{ path('angar_show', {'id' : angar.getId | number_format }) }}">
                                <span> Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-header text-center">
                        {{ angar.width }} х {{ angar.length }} - {{ angar.address.city }}
                    </div>

                    {% for image in angar.getImages %}
                        {% if image.getFirst %}
                            <img class="card-img-top" src="{{ asset(image.getPathThumbnail~image.getNameMd5) }}" alt="">
                        {% endif %}
                    {% endfor %}
                    <div class="card-body p-2 ">
                        <div class="hangars__type" style="display: none">
                            <p>
                                {{ angar.getCategory.getName }}
                            </p>
                        </div>
                        <!--                                <h5 class=h5"card-title">Зернохранилище</h5>-->
                        <div class="hangars__dimentions">
                            <p class="card-text small mb-0">
                                Ширина: {{ angar.width }} м
                            </p>
                            <p class="card-text small">
                                Длина: {{ angar.length }} м
                            </p>
                        </div>
                        <p class="card-text small hangars__address">
                            {{ angar.address.getFullAddress }}
                        </p>
                        <p class="card-text small hangars__costumers">
                            {{ angar.getCostumer.getTitle }}
                        </p>
                        {#<a href="#!" class="btn btn-primary">Подробнее</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3 class="text-center bg-primary text-white line-height-18 my-3">
        Карта построенных ангаров
    </h3>
    <div class="row m-0 pb-3 ">
        <div id="hangarsMap" class="col-12" style="height: 400px"></div>
    </div>

{% endblock %}