{% extends 'base.html.twig' %}
{% block title %}
    Авиационные ангары - бескаркасные и каркасно-тентовые
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Авиационные ангары
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Авиационные ангары ООО "АГРО-ТЕХ" обеспечивают надежную защиту техники независимо от климатических условий и позволяют проводить необходимое техническое обслуживание летательных аппаратов в любую погоду.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Предприятие предлагает как каркасно-тентовые ангары, так и бескаркасные (арочного типа), в которых роль несущей конструкции выполняет сам купол, сооруженный из гофрированного металлического профиля.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/tentovyi-angar-dlya-samoleta.jpg') }}" alt="Тентовый ангар для самолета" class="scale-with-grid mb-50px">

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Специалисты компании помогут подобрать наиболее оптимальный тип конструкции ангара с учетом особенностей используемого летательного аппарата, региона строительства и пожеланий заказчика.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Особенностью конструкции всех типов авиационных ангаров является наличие широких пролетов (без колонн и промежуточных опор). Конструктивное отличие имеют также и ворота ангара, обеспечивающие наиболее полное раскрытие.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/aviaangar.jpg') }}" alt="Авиаангар" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Кроме того, предъявляются высокие требования к уровню безопасности и эксплуатационным характеристикам, как самого сооружения, так и оборудования, которым оно оснащено.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Исходя из потребностей заказчика, металлические ангары могут иметь вставки из прозрачного поликарбоната, пропускающего до 90% света. Данная особенность способствует существенной экономии на искусственном освещении, что является немаловажным фактором при отсутствии в регионе строительства электрических сетей.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/angary-dlya-maloy-aviatsii.jpg') }}" alt="Ангары для малой авиации" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    При разработке проекта ангара в обязательном порядке учитывается среднегодовое количество осадков в регионе (в том числе, выпадающих в виде мокрого снега).
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Опыт, накопленный компанией "АГРО-ТЕХ", позволяет предложить клиенту оптимальную толщину арочного профиля (в случае выбора металлического ангара).
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/avia-angar-tent.jpg') }}" alt="Авиа ангар тент" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Несущий каркас тентовой конструкции также проектируется с учетом допустимого шага арок в каждом конкретном случае.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Как каркасный, так и бескаркасный тип ангара для укрытия авиационной техники изначально проектируется таким образом, чтобы избежать нарастания снежного покрова на куполе.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/tentovyi-avia-angar.jpg') }}" alt="Тентовый авиа ангар" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    По заказу клиента производится утепление ангаров.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Металлический ангар целесообразно утеплять напылением пенополиуретана. На сегодняшний день данный материал значительно превосходит все остальные утеплители практически по всем характеристикам, в том числе по таким показателям, как тепло-, звуко- и гидроизоляция.
                    Каркасно-тентовые ангары утепляются деревянной обшивкой, высотой от 1,5 до 2 м от уровня пола.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Все это позволяет использовать авиатехнику максимально эффективно за счет сокращения времени ее простоя.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/karkasno-tentovye-aviaangary.jpg') }}" alt="Каркасно-тентовые авиаангары" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Важно отметить, что технология бескаркасного арочного строительства позволяет строить металлические ангары с шириной пролета до 28 метров. Ширина предлагаемых заказчику тентовых авиационных ангаров может достигать 12 метров.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size mb-20px">
                    Можно выделить некоторые основные черты, присущие всем типам предлагаемых ангаров:
                </p>

                <ul class="check-list colored remove-bottom">
                    <li>возможность возведения в очень короткие сроки;</li>
                    <li>возможность установки на любой поверхности.</li>
                </ul>
            </div>

            <div class="align-center"><a href="{{ path('angary') }}#aviatsionnye-angary" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}