{% extends 'angar.layout.html.twig' %}
{% block title %}
    Каркасные и бескаркасные быстровозводимые ангары
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Каркасные и бескаркасные ангары
    </h1>
{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Каркасный ангар можно построить любой формы без ограничений, что дает ему большое преимущество.
                </p>
            </blockquote>

            <div class="info-box colored-2 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Однако, надо учитывать, что коррозия металла начинается в местах скопления влаги, то есть на соединениях листов железа с каркасом, следовательно рано или поздно ангар будет требовать частичного ремонта. Это не так просто, ведь каркас является несущим и заменить его часть достаточно проблематично.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    В ходе каркасного строительства сэндвич-панели являются основным материалом для возведения ограждающих конструкций.
                </p>
            </blockquote>

            <div class="info-box colored-2 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    И это является не самым лучшим решением, так как при регулярной обработке строения нарушается герметичность стыков панелей, которые, в свою очередь, расслаиваясь, способствуют плеснево-грибковому заражению помещения. Это также ухудшает теплоизолирующие свойства панелей.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/karkasnye-aviaangary.jpg') }}" alt="Каркасные авиаангары" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Кроме того, данные конструкции имеют низкую степень ударопрочности, что опять же неблагоприятно влияет на герметичность сооружения и требует замены поврежденной панели.
                </p>
            </blockquote>

            <div class="info-box colored-2 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Сэндвич-профиль крепится к металлокаркасу, после чего в него вставляется утеплитель из минваты, поверх которого крепится гидроветрозащитная мембрана, а снаружи вся конструкция закрывается обшивкой, что ведет к заметному удорожанию конструкции и более длительному времени ее изготовления.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Увеличивается общая масса ангара, вследствие чего требуется основательный фундамент. Стоимость такого сооружения также существенно зависит от расходов на транспортировку объемных панелей к месту строительства. Профиль, панели, утеплитель, состоящий на 90% из воздуха – итого к месту строительства в основном приходится отправлять "пустые фуры".
                </p>
            </blockquote>

            <div class="info-box colored-2 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    В целях повышения надежности таких конструкций производители рекомендуют специальные полимерные покрытия, обеспечивающие защиту от коррозии и ультрафиолета, а также проведение дезинфекции с использованием реактивов, моющих составов и кварцевых облучателей, что несомненно дает свой положительный эффект, но опять же повышает стоимость строительства и обслуживания ангара.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    И еще одно немаловажное обстоятельство - благодаря сборному типу каркас является разборным. Этот факт часто привлекает заказчиков, однако многолетний опыт эксплуатации данных конструкций подтверждает, что затраты на демонтаж, погрузку, перевозку и сборку на новом месте зачастую сопоставимы со стоимостью нового ангара.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnye-angary.jpg') }}" alt="Бескаркасные ангары" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Другой тип ангаров - бескаркасный, быстро и легко возводится, значительно дешевле, не требует возведения фундамента, строится практически на любом грунте.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Форма ангара стандартная (полукруг), за счет смены радиуса ширина получается от 12 до 28 метров. Высота строения зависит от его размеров и может составлять от 0.35 до 0.50 от ширины ангара.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-zernohranilishhe.jpg') }}" alt="Бескаркасное зернохранилище" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    За счет ребер жесткости сама арка является несущей и абсолютно не уступает по прочности каркасному сооружению. При этом площадь ангара используется на 100%, так как нет балок, перегородок и несущего каркаса.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Это особенно важно для хранения зерна, поскольку стены такого ангара выдерживают насыпи до двух метров высотой, что позволяет заполнять данные помещения значительно большим объемом, чем какие-либо другие модели хранилища. То же самое касается и овощей, хранящихся навалом.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Бескаркасные технологии позволяют строить хранилища требуемого размера и неограниченной длины (исходя из требований заказчика).
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-ovoshhehranilishhe.jpg') }}" alt="Бескаркасное овощехранилище" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Тип крепления элементов профиля друг к другу (с помощью закаточной машинки) дает полную герметичность и прочность конструкции.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Поскольку отсутствует необходимость в многочисленной группе рабочих, а также в большом количестве техники, время строительства сокращается, что положительным образом влияет на стоимость ангара.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/arochnnoe-stroitelstvo.jpg') }}" alt="Арочное строительство" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Но в строительстве до сих пор не изобрели ничего идеального, поэтому бессмысленно отрицать, что и у этого сооружения могут быть свои недостатки. В частности, такой ангар нельзя разобрать, а потом собрать в другом месте (для данных целей идеально подходят каркасно-тентовые конструкции), нет возможности оптимально разбить на этажи.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Несмотря на это, строительный опыт компании "АГРО-ТЕХ" позволяет предложить клиентам ряд оригинальных проектных решений с учетом индивидуальных требований к хранилищу (например, сооружение встроенных помещений, тамбуров, монтаж дополнительного оборудования и многое другое).
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/uteplenie-angarov.jpg') }}" alt="Утепление ангаров" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Предприятие также предлагает услуги по утеплению пенополиуретаном, которое производится путем напыления слоя утеплителя на внутреннюю поверхность ангара. Это повышает общую прочность конструкции и предоставляет еще более широкие возможности по ее использованию.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-50px">
                <p class="middle-font-size remove-bottom">
                    Купол ангара можно дополнять вставками из прозрачного поликарбоната, светопроницаемость которого достигает 90%. Благодаря этому в дневное время можно обходиться без электрического освещения, что уже само по себе - немалая экономия. Ударопрочный, устойчивый к значительным перепадам температуры поликарбонатный профиль отлично стыкуется с профлистами из стали, обеспечивая высокую герметичность конструкции.
                </p>
            </div>


            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/vstavki-polikarbonata.jpg') }}" alt="Вставки поликарбоната" class="scale-with-grid mb-40px">


            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    При установке арочных ангаров специалисты компании учитывают соответствие несущей способности конструкции снеговому району строительства. За счет особой устойчивой формы используемого профиля и формы полукруга всей конструкции снег не залеживается на крыше ангара.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    В истории арочного строительства были случаи неправильной эксплуатации сооружения в условиях экстремальных снегопадов, когда большое количество не успевшего скатиться мокрого снега деформировало купол здания. В таких условиях требуется производить своевременную очистку места для сползания снега вокруг ангара, предотвращая нарастание плотных многометровых сугробов.
                </p>
            </div>


            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/izgotovlenie-angarov.jpg') }}" alt="Изготовление ангаров" class="scale-with-grid mb-40px">


            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Учитывая все доводы, приведенные выше, компания "АГРО-ТЕХ", успешно зарекомендовавшая себя на отечественном строительном рынке быстровозводимых сооружений, рекомендует клиентам при выборе металлического ангара остановиться именно на бескаркасном типе, не переплачивая лишние суммы за ненужные тонны каркасных конструкций и дополнительную рабочую силу.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Используя американские установки MIC Industries, а также МБС "Радуга", предприятие в короткие сроки возводит надежные и удобные строения, которые служат многие годы не доставляя хлопот ежегодным ремонтом и подкрашиванием.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    При этом существенно повышают срок службы и рентабельность хранилищ высокие эксплуатационные характеристики материалов, применяемых компанией "АГРО-ТЕХ" в процессе строительства.
                </p>
            </blockquote>

            <div class="align-center"><a href="{{ path('angary') }}" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}