{% extends 'base.html.twig' %}
{% block title %}
    Преимущества бескаркасного строительства ангаров
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Преимущества бескаркасного строительства
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Планируя возведение промышленного или складского объекта, мы зачастую представляем себе каркас, закрепленный на фундаменте и обшитый утеплителями и отделочным материалом. Но в настоящее время всё большее распространение получают бескаркасные сооружения.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    При возведении бескаркасных арочных объектов создается купол, который является несущим уже сам по себе, поэтому будущему сооружению не нужен дополнительный каркас и можно сэкономить на фундаменте, опорах, фермах и колоннах. Строительство ведётся быстро и стоит недорого.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-50px">
                <p class="middle-font-size mb-20px">
                    Машина для бескаркасного строительства устанавливается непосредственно на стройплощадке. В качестве исходного материала для выполняемой работы применяется защищенный металл рулонного типа:
                </p>

                <ul class="check-list colored remove-bottom">
                    <li>оцинкованный;</li>
                    <li>с полимерным покрытием.</li>
                </ul>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/mashina-arochnogo-stroitelstva.jpg') }}" alt="Машина арочного строительства" class="scale-with-grid mb-50px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Параллельно с изготовлением элементов будущего объекта ведётся его монтаж.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size mb-20px">
                    Сооруженный таким методом бескаркасный ангар может стать:
                </p>

                <ul class="check-list colored remove-bottom">
                    <li>складом;</li>
                    <li>производственным цехом;</li>
                    <li>гаражом;</li>
                    <li>павильоном для торговли;</li>
                    <li>терминалом;</li>
                    <li>сооружением для занятий спортом;</li>
                    <li>животноводческим комплексом;</li>
                    <li>помещением для хранения зерна или овощей;</li>
                    <li>укрытием временного типа.</li>
                </ul>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Этот открытый перечень включает в себя объекты самого разного назначения, поэтому технология бескаркасного строительства становится всё более популярной.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-50px">
                <p class="middle-font-size mb-20px">
                    Основными преимуществами бескаркасного строительства являются:
                </p>

                <ul class="check-list colored remove-bottom">
                    <li>оптимальный темп возведения сооружений;</li>
                    <li>относительно низкая себестоимость выполняемых работ;</li>
                    <li>мобильность строительной машины, позволяющая возводить объекты в труднодоступной местности;</li>
                    <li>экономия на ненужных несущих конструкциях, крепеже и гидроизоляции.</li>
                </ul>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/sooruzhenie-arochnogo-angara.jpg') }}" alt="Сооружение арочного ангара" class="scale-with-grid mb-50px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Безусловную выгоду бескаркасного метода возведения ангаров отлично иллюстрирует тот факт, что объект  площадью 1000 кв. метров  можно возвести всего за 20-25 дней.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    За одну смену строители могут изготовить и установить на фундамент свыше 50 арочных панелей.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Для выполнения строительных работ мы доставим всё необходимое оборудование и материалы на выбранную для этой цели площадку и сможем незамедлительно приступить к работе.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    При возведении объекта мы используем качественные строительные материалы и современное оборудование, которое позволяет возводить надежные бескаркасные арочные сооружения с отличными эксплуатационными характеристиками.
                </p>
            </div>

            <div class="align-center"><a href="{{ path('angary') }}" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}