{% extends 'base.html.twig' %}
{% block title %}
    Строительство овощехранилищ, зерноскладов
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Строительство овощехранилищ, зерноскладов
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    В настоящее время заказчики различных строительных объектов стремятся максимально сократить свои затраты, что может быть реализовано за счет применения быстровозводимых сооружений, так как их возведение обходится на порядок дешевле, чем такой же площади капитальных строений.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-50px">
                <p class="middle-font-size remove-bottom">
                    Руководитель сельхозпредприятия, как правило, не имеет возможности ждать, когда необходимые площади будут спроектированы, отстроены и документально оформлены. В данной ситуации являются актуальными предложения различных компаний, предлагающих услуги по проектированию и возведению бескаркасных арочных сооружений.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/vneshii-vid-zernohranilishha.jpg') }}" alt="Внешний вид зернохранилища" class="scale-with-grid mb-35px">

            <blockquote class="mb-70px">
                <p class="dark-black remove-bottom">
                    Современные экономические тенденции диктуют довольно строгие условия ведения бизнеса. Соответственно, в успешности агробизнеса существенное значение имеет правильная организация условий хранения готовой продукции.
                </p>
            </blockquote>


            <h2 class="mb-40px">
                Овощехранилища
            </h2>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Для сохранности овощей и фруктов особое значение имеет теплоизоляция хранилища и его герметичные свойства. С этой целью помещение оборудуют климатическими установками, что значительно повышает сохранность продуктов.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Для хранения плодоовощной продукции должен быть создан определенный микроклимат: влажность не меньше 90%, постоянная температура в диапазоне 0-2°C.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/ovoshhehranilishhe.jpg') }}" alt="Овощехранилище" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Чтобы вовремя получить сообщение о том, что какие-либо параметры микроклимата вышли за пределы нормативов, следует установить сигнализирующую аппаратуру. А для оперативного принятия мер, ещё и регулирующие приборы.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Чтобы поддерживать микроклимат в заданных параметрах, необходимо иметь системы: регулировки газовых сред; осушения; увлажнения; искусственного охлаждения; вентиляции; обогрева.
                </p>
            </blockquote>


            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/stroitelstvo-ovoshhehranilishh.jpg') }}" alt="Строительство овощехранилищ" class="scale-with-grid mb-40px">


            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Овощи могут храниться в таре и россыпью. В качестве тары используются паллеты.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Камеры, в которых находятся продукты, следует периодически мыть, а сами овощи и фрукты необходимо перебирать, своевременно ревизуя и сортируя. Эти меры должны защитить продукты от гниения, заболеваний и прорастания.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/ventilyatsiya-ovoshhehranilishha.jpg') }}" alt="Вентиляция овощехранилища" class="scale-with-grid mb-40px">

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    В хранилище для фруктов рекомендуется иметь несколько внутренних помещений. Упрощенно это можно представить как "коробку в коробке".
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Кроме того, материалы, из которых строятся ограждающие конструкции фрукто- и овощехранилищ, должны иметь высокую степень устойчивости к негативным воздействиям (а именно влаги и химреактивов).
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/ovoshhehranilishhe-snaruzhi.jpg') }}" alt="Бескаркасное арочное овощехранилище" class="scale-with-grid mb-70px">


            <h2 class="mb-40px">
                Зерносклады
            </h2>


            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    В силу самых разных причин высокие требования сейчас предъявляются к зерноскладам.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Зерносклад снабжается следующими установками: перемешивающими; принудительного вентилирования;  обеззараживания (дезинфекции и дезинсекции) хранящегося зерна (протравливания фунгицидами и т. п.).
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/zernohranilishhe.jpg') }}" alt="Зернохранилище" class="scale-with-grid mb-40px">

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Большое значение имеет уровень механизации некоторых операций, в том числе - процесса подачи фунгицида к зерну и транспортировки протравленного зерна на выгрузку в мешкотару. Кроме того, необходим  контроль предельно допустимых норм концентрации воздушной среды по фунгициду.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    В зернотоках могут выполняться функции термической дезинфекции зерна и газовая дезинсекция, что также требует специального оборудования и дополнительных площадей.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-50px">
                <p class="middle-font-size remove-bottom">
                    Зерно может храниться в мешкотаре или россыпью прямо на полу помещения. Довольно часто хранилище специально разделяют на секции, чтобы в них можно было загрузить семена в соответствии с их целевыми назначениями.
                </p>
            </div>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/zerno-vozle-hranilishha.jpg') }}" alt="Зерно возле хранилища" class="scale-with-grid mb-40px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    С зерном следует обращаться аккуратно, не травмировать его. Поэтому механизации его погрузки-выгрузки уделяется особое значение.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Так называемые хранилища насыпного типа требуют оборудования специальными воздухораспределительными устройствами. Это необходимо для обеспечения принудительной аэрации, то есть специально организованного проветривания хранящегося зерна.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Кроме этого, необходимы устройства, предназначенные для удаления пыли. Это вентиляторы, циклоны и всевозможные фильтры, с применением которых происходит очистка зерна. В дополнение ко всему этому, в зерноскладах должны размещаться бункеры для отходов.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/stroitelstvo-zernohranilishh.jpg') }}" alt="Строительство зернохранилищ" class="scale-with-grid mb-35px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Подводя итог вышесказанному, отметим, что существует список требований, которые предъявляются этому сооружению. Оно должно быть: вместительным; достаточно герметичным; адаптированным к температурным изменениям.
                </p>
            </blockquote>


            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Проблема сохранения продукции в течение длительного периода времени особенно актуальна для сельского хозяйства. К примеру, цена на овощи, фрукты и зерновые культуры, во многом может зависеть от условий их хранения на складе.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Таким образом, предприятиям АПК выгодно иметь собственные недорогие, современные и хорошо оборудованные хранилища.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    При этом немаловажным является тот факт, где будет расположено хранилище, ведь зачастую хранить продукцию удобнее вблизи мест производства, не затрачивая дополнительные средства на перевозку и не подвергая лишний раз товар погрузке-разгрузке.
                </p>
            </div>

            <div class="align-center"><a href="{{ path('angary') }}#stroitelstvo-zernohranilishh-i-ovoshehranilishh" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}