{% extends 'base.html.twig' %}
{% block title %}
    Утепление пенополиуретаном бескаркасных арочных ангаров
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Утепление пенополиуретаном
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Современные технологии позволяют нам использовать продукты, созданные не природой, а самим человеком. К их числу относится, например, целый класс пенопластов. Разновидностью пенопласта является и ППУ (пенополиуретан) – уникальный полимерный синтетический материал. Иначе его называют газонаполненной пластмассой, поскольку его структуру составляют закрытые ячейки, в которых заключен воздух.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Пенополиуретаны используются в самых различных сферах человеческой деятельности. Их актуальность, востребованность и перспективность не снижается на протяжении десятилетий применения.
                </p>
            </div>

            <blockquote class="mb-70px">
                <p class="dark-black remove-bottom">
                    Для создания ППУ необходимы жидкие компоненты и специальное оборудование. Технология изготовления этих материалов не сложна, поэтому производят их не только в условиях промышленных предприятий, но и на местах непосредственного применения.
                </p>
            </blockquote>

            <p class="psevdo_h2 mb-40px">
                Технология получения
            </p>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Для производства ППУ необходимы полиизоцианат и полиол. Эти жидкие компоненты вступают друг с другом в реакцию вспенивания, в результате которой и образуется пенополиуретан. В процессе взаимодействия указанных компонентов формируются микрокапсулы, внутри которых содержится воздух.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Следует отметить высокую скорость реакции вспенивания и последующего отвердевания материала. В результате этих процессов всего за несколько минут можно получить новый продукт, полностью готовый для дальнейшего использования.
                </p>
            </div>

            <blockquote class="mb-70px">
                <p class="dark-black remove-bottom">
                    Переработка газонапоненных пластмасс осуществляется с применением самых разных технологий. Это может быть и литье, и напыление, и экструзия, и прессование, и даже заливка. И этот список может быть продолжен. В результате переработки получаются материалы разных типов: ламинированные, армированные, вспененные, наполненные и т.д.
                </p>
            </blockquote>

            <p class="psevdo_h2 mb-40px">
                Метод напыления
            </p>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Если компоненты для изготовления пенополиуретана (полиол и полиизоцианат) смешать с воздухом, можно создать мелкодисперсную аэрозоль. Её нанесение на поверхность обрабатываемых материалов называется напылением.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Если эти же ингредиенты соединяются без доступа воздуха, то, в результате их смешения, образуется ровная струя, монолитная по своей структуре. Впрыскивание этой струи в ограниченную полость называется заливкой ППУ. Эта процедура широко используется в современном строительстве.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Именно методом напыления пенополиуретана создаются современные гидро- и теплоизоляционные покрытия. Особенностью этого перспективного метода является способность ППУ покрывать поверхности сложных форм с отличной адгезией. В результате чего возникает возможность утеплять различные конструктивные элементы, невзирая на особенности их конфигураций.
                </p>
            </blockquote>

            <img src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/uteplenie-napyleniem-penopoliuretana.jpg') }}" alt="Утепление напылением пенополиуретаном" class="scale-with-grid mb-35px">

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Наносить ППУ следует на хорошо очищенную и высушенную поверхность. Это покрытие нуждается в защите от воздействия прямых солнечных лучей. Экономичнее всего для этой цели прибегнуть к окрашиванию.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size mb-20px">
                    Если сравнивать напыляемые пенополиуретаны с утеплителями других видов, то первые обладают рядом существенных преимуществ.
                </p>

                <ul class="check-list colored remove-bottom">
                    <li>
                        Напылять ППУ послойно можно на различные по форме элементы конструкций, созданные из любых материалов.
                        Утеплитель будет отлично держаться на древесине и металле, бетоне, стекле и кирпиче. Это позволяет не прибегать к помощи крепежа. Такая теплоизоляция наносится даже на окрашенные поверхности. Покрытие из ППУ не вступает в реакцию с щелочными и кислотными средами. Его можно помещать в грунт, а также применять в качестве бесшовного и весьма экономичного кровельного материала.
                    </li>
                    <li>
                        Если сравнивать жесткий полиуретан с прочими утеплителями, то следует отметить его лучшие теплоизоляционные свойства. Причина хорошей теплоизоляции кроется в структуре материала: он состоит из замкнутых ячеек, заполненных воздухом. Это позволяет жесткому полиуретану демонстрировать низкую теплопроводность. И такие его качества не зависят от влажности окружающей среды.
                    </li>
                    <li>
                        Жесткий полиуретан может с успехом использоваться в широком температурном диапазоне. Его применяют для термоизоляции и защиты теплопроводов, энергетического оборудования и разнообразных строительных конструкций.
                    </li>
                    <li>
                        К достоинствам утепления с применением ППУ можно отнести и высокую технологичность этого метода, его экономическую целесообразность и, конечно, сжатые сроки выполнения даже значительных объёмов работ. Всего одну тонну сырья, которая заключается в четырёх ёмкостях по 200 литров, затрачивают на изготовление 20 м3 пенополиуретана, плотностью 50 кг/м3.
                    </li>
                    <li>
                        Привлекают и такие качества теплоизолятора ППУ как экологичность, жаропрочность и нетоксичность. Это покрытие отлично противостоит воздействию микроорганизмов и плесени. Оно биологически нейтрально, не гниет и не разлагается. Благодаря своей низкой плотности этот материал практически не воспламеняется и не поддерживает самостоятельного горения.
                    </li>
                    <li>
                        Если ППУ не имеет механических повреждений поверхности, он способен прослужить 25-30 лет и больше. Такая долговечность объясняется тем, что 90% его ячеек имеют замкнутую структуру. А это значит, что объективные химические причины для разрушения пенополиуретана, сделанного по всем правилам, отсутствуют.
                    </li>
                </ul>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Компания "АГРО-ТЕХ" обладает надежным и компактным оборудованием, которое позволяет специалистам выполнять процедуру напыления пенополиуретана и на стационарных объектах, и непосредственно на строительных площадках, то есть практически в полевых условиях.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Это позволяет нашей компании предлагать свои услуги по утеплению методом напыления ППУ строительных конструкций широкого спектра: хранилищ, гаражей, цехов, складов, ангаров и прочих многочисленных строящихся объектов.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Утеплить пенополиуретаном можно не только строящиеся сооружения, но и те строительные конструкции, которые уже существуют. Единственное условие такой обработки заключается в том, что готовые металлические поверхности следует очистить от коррозии и высушить, если это необходимо.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Чтобы наглядно представить себе процедуру напыления покрытия из пенополиуретана, сравним её с окраской посредством пульверизатора. Сначала напыляют первый слой, а последующий наносят после его затвердения. Обычно толщина одного слоя не превышает 15 мм. Чтобы обеспечить необходимую изоляцию конструкции, следует нанести как минимум три слоя.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Для выполнения работ по напылению необходима температура окружающей среды в пределах 10-15°C. Если нагревать обрабатываемую поверхность при помощи тепловентиляторов, можно работать и при температуре 0-5°C.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    На расход материалов влияет несколько факторов, среди которых температура обрабатываемой поверхности и окружающей среды, а также конфигурация этой самой поверхности. Последний фактор является определяющим.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Результатом выполненных работ является надежный утеплитель, плотность которого может варьироваться в диапазоне от 30 до 120 кг/м3.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Компания "АГРО-ТЕХ" поможет вам решить широкий спектр задач, связанных с утепление объекта, гарантируя при этом не только высокое качество выполняемых работ, но и сжатые сроки их проведения.
                </p>
            </div>

            <div class="align-center"><a href="{{ path('angary') }}#uteplenie-penopoliuretanom" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}