{% extends 'base.html.twig' %}
{% block title %}
    Агроному на заметку
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Анганому на заметку
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="row m-0 pb-3 justify-content-around">
        {% for article in articles  %}
            <div class="col-md-4 pt-3">
                <article class="card border-0 px-3 articleIndex bg-transparent">
                    <div class="more-info bg-white px-3">
                        <div class="">
                            <p class="card-text">
                                {{ article.description }}
                            </p>
                            <p class="card-text">
                                <a href="{{ path('articles_show', {'id' : article.id}) }}">Читать далее</a>
                            </p>
                        </div>
                    </div>
                    <a href="{{ path('articles_show', {'id' : article.id}) }}">
                        <img src="{{ asset(article.image) }}" class="card-img-top" alt="{{ article.name }}">
                    </a>

                    <div class="card-body mt-3">
                        <h4 class="card-title text-center">
                            {{ article.name }}
                        </h4>
                    </div>
                </article>
            </div>

        {% endfor %}
    </div>

{% endblock %}
