{% extends 'base.html.twig' %}

{% block title %}PartnerService index{% endblock %}

{% block body %}
    <h1>PartnerService index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner_service in partner_services %}
            <tr>
                <td>{{ partner_service.id }}</td>
                <td>{{ partner_service.name }}</td>
                <td>{{ partner_service.shortName }}</td>
                <td>
                    <a href="{{ path('partner_service_show', {'url': partner_service.url}) }}">show</a>
                    <a href="{{ path('partner_service_edit', {'url': partner_service.url}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partner_service_new') }}">Create new</a>
{% endblock %}
