<!doctype html>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47365036 = new Ya.Metrika2({
                    id:47365036,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47365036" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="max-age=43200, must-revalidate">
    <meta http-equiv="Cache-Control" content="max-age=43200, proxy-revalidate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="yandex-verification" content="7ad9b828584747df"/>
    <meta name="yandex-verification" content="619ff990c5a85f79" />
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">#}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% if styles is defined %}
            <link rel="stylesheet" href="{{ asset(styles) }}">
        {% endif %}
    {% endblock %}

    <title>{% block title %}{{ title is defined ? title : "АГРО-ТЕХ" }}{% endblock %}</title>
</head>
{% block body %}
    <body class="{{ bodyClass is defined? bodyClass : '' }}">
    {% block preloader %}{% endblock %}
    {% set techs = tech_serv.findBy([], {'short_name': 'asc'}) %}
    {% set techs_category = tech_category_serv.findBy([], {'id': 'asc'}) %}
    {% set articles = articles_serv.findAll() %}
    {% set partners_techs = pertners_tech_serv.findBy([], {'short_name': 'asc'}) %}
    {% set partners_services = pertners_service_serv.findBy([], {'short_name': 'asc'}) %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 sticky-top">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--                        To do: Add dropdown-->
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item"><a class="nav-link" href="{{ path('address_index') }}">
                                <span class="uppercase">Адреса</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('angar_category_index') }}">
                                <span class="uppercase">Категории Ангаров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('angar_index') }}">
                                <span class="uppercase">Ангары</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('angar_image_index') }}">
                                <span class="uppercase">Изображения ангаров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('costumer_index') }}">
                                <span class="uppercase">Заказчики ангаров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('gallery_image_index') }}">
                                <span class="uppercase">Изображения галереи</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('selhoztehnika_index') }}">
                                <span class="uppercase">СХ/Техника</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('tech_category_index') }}">
                                <span class="uppercase">Категории СХ/Техники</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('tech_image_index') }}">
                                <span class="uppercase">Фото СХ/Техники</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('complectation_index') }}">
                                <span class="uppercase">Комплектации</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('dimensions_index') }}">
                                <span class="uppercase">Размеры С/Х</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('spare_parts_index') }}">
                                <span class="uppercase">Запчасти С/Х</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('spare_parts_image_index') }}">
                                <span class="uppercase">Фото для запчастей С/Х</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('video_index') }}">
                                <span class="uppercase">Видео для С/Х</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('articles_index') }}">
                                <span class="uppercase">Статьи</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('partner_tech_index') }}">
                                <span class="uppercase">Техника партнеров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('partner_tech_image_index') }}">
                                <span class="uppercase">Фото Техники партнеров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('partner_service_index') }}">
                                <span class="uppercase">Услуги партнеров</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('partner_service_image_index') }}">
                                <span class="uppercase">Фото Услуг партнеров</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>
    {% endif %}
    <div class="container-fluid p-0 page">
        <!-- Top link section -->
        <div class="row bg-primary m-0 py-1">
            <div class="col-md-4">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{{ path('app_home_show', {'slug': 'contacts'}) }}" class="text-light" id="our-coordinates">Наши координаты (точки продаж)</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled d-flex flex-wrap justify-content-around m-0">
                    <li class="h3">
                        <a href="tel:89282122219" class="text-light">+7 (928) 212-22-19</a>
                    </li>
                    <li class="h3">
                        <a href="tel:89287789280" class="text-light">+7 (928) 778-72-80</a>
                    </li>
                    <li class="h3">
                        <a href="mailto:mail@agro-teh.su" class="text-light">mail@agro-teh.su</a>
                    </li>
                    <li>
                        {#<a class="btn btn-light btn-outline-success my-2 my-sm-0" id="callback" role="button" data-toggle="modal" data-target="#callback">Обратный звонок</a>#}
                        <button class="btn btn-light btn-outline-success my-2 my-sm-0" role="button" data-toggle="modal" data-target="#callback">Обратный звонок</button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Navbar section -->
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <!--To do: Info - manual navbar-->
                <!--To do: Change # in href-->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark py-0 sticky-top">
                    <a href="/" class="navbar-brand pt-0 m-lg-0">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="АГРО-ТЕХ" width="159" height="92">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!--                        To do: Add dropdown-->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="/" class="nav-link text-white">Главная</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" style="cursor: pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ангары</a>

                                <div class="dropdown-menu" style="z-index: 1030">
                                    {% for category in angar_category_serv.findAll() %}
                                        <a class="dropdown-item" href="{{ path('angar_category_show', {'url' : category.url}) }}">{{ category.name }}</a>
                                    {% endfor %}
                                    <a class="dropdown-item" href="{{ path('angar_show_all') }}">Построенные ангары</a>
                                    <a class="dropdown-item" href="{{ path('gallery') }}">Фото рабочих моментов</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сельхозтехника</a>
                                <div class="dropdown-menu" style="z-index: 1030">

                                    {% for category in techs_category %}
                                        <a class="dropdown-item" href="{{ path('category', {'url': category.url}) }}">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('spare_parts_show_all') }}" class="nav-link text-white">Запасные части</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_home_show', {'slug': 'services'}) }}" class="nav-link text-white">Услуги</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Партнеры</a>
                                <div class="dropdown-menu" style="z-index: 1030">
                                    <a class="dropdown-item" href="{{ path('partners_techs') }}">Техника</a>
                                    <a class="dropdown-item" href="{{ path('partners_services') }}">Услуги</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_home_show', {'slug': 'leasing'}) }}" class="nav-link text-white">Лизинг</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_home_show', {'slug': 'contacts'}) }}" class="nav-link text-white">Контакты</a>
                            </li>
                        </ul>

                        {#<form class="form-inline my-2 my-md-0">
                            <input class="form-control mr-sm-2 searchInput" placeholder="Поиск" aria-label="Поиск" type="text">
                            <button class="btn btn-light btn-outline-success my-2 my-sm-0">Поиск</button>
                        </form>#}
                    </div>
                </nav>
            </div>
        </div>

        {% block slider %}

        {% endblock %}

        <!-- Main section -->
        <div class="row m-0 main-content">
            <!-- Left catalog menu section -->
            <!--            To do: Add dropdown-->
            <div class="d-xs-none d-sm-none d-md-none d-lg-block col-lg-2 p-0">
                <ul class="list-unstyled list-group sticky-top" id="menu-group-1">
                    <li class="list-group-item">
                        <p class="mt-2 mb-2" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-1" style="cursor: pointer">
                            <i class="fas fa-plus"></i>
                            <span><a href="{{ path('angary') }}" data-toggle="tooltip" data-placement="right" data-initial="angary" title="Перейти в раздел Ангары">Ангары</a></span>
                        </p>

                        <ul class="collapse list-unstyled list-group pl-4" id="sub-item-1">
                            {% for category in angar_category_serv.findAll()  %}
                                <li>
                                    <a href="{{ path('angar_category_show', {'url' : category.url}) }}" data-toggle="tooltip" data-placement="right" data-initial="{{ category.url }}"  title="Перейти в раздел {{ category.name }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{{ path('angar_show_all') }}" data-toggle="tooltip" data-placement="right" data-initial="postroennue" title="Перейти в раздел Построенные ангары">Построенные ангары</a>
                            </li>
                            <li>
                                <a href="{{ path('gallery') }}" data-toggle="tooltip" data-placement="right" data-initial="gallery" title="Перейти в раздел Фото рабочих моментов">Фото рабочих моментов</a>
                            </li>
                        </ul>
                    </li>

                    <li class="list-group-item">
                        <p class="mt-2 mb-2" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-8" style="cursor: pointer">
                            <i class="fas fa-plus"></i>
                            <a href="{{ path('selhoztehnika') }}" data-initial="selhoztehnika" data-toggle="tooltip" data-placement="right" title="Перейти в раздел Сельхозтехника">Сельхозтехника</a>
                        </p>

                        <ul class="collapse list-unstyled pl-4" id="sub-item-8">

                            {% for category in techs_category %}
                                <p class="mt-1 mb-1" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-2{{ loop.index }}" style="cursor: pointer">
                                    <i class="fas fa-plus"></i>
                                    <a href="{{ path('category', {'url': category.url}) }}" data-toggle="tooltip" data-placement="right" title="Перейти в раздел {{ category.name }}" data-initial="{{ category.url }}">{{ category.name }}</a>
                                </p>
                                <ul class="collapse list-unstyled pl-4" id="sub-item-2{{ loop.index }}">
                                    {% for tech in tech_serv.findBy({category: {'id': category.id} }, {'short_name': 'asc'}) %}
                                        <li>
                                            <a href="{{ path('selhoztehnika_show', {'url': tech.url}) }}" data-initial="{{ tech.url }}">
                                                {{ tech.shortName }}
                                            </a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            {% endfor %}

                        </ul>

                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('spare_parts_show_all') }}" data-initial="spare-parts">Запасные части</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_home_show', {'slug': 'services'}) }}" data-initial="services">Услуги</a>
                    </li>
                    <li class="list-group-item">
                        <p class="mt-2 mb-2" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-20" style="cursor: pointer">
                            <i class="fas fa-plus"></i>
                            <a href="{{ path('partners') }}" data-initial="partners" data-toggle="tooltip" data-placement="right" title="Перейти в раздел Партнеры">Партнеры</a>
                        </p>

                        <ul class="collapse list-unstyled pl-4" id="sub-item-20">

                            <p class="mt-1 mb-1" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-31" style="cursor: pointer">
                                <i class="fas fa-plus"></i>
                                <a href="{{ path('partners_techs') }}" data-toggle="tooltip" data-placement="right" title="Перейти в раздел Техника" data-initial="partners-techs">Техника</a>
                            </p>
                            <ul class="collapse list-unstyled pl-4" id="sub-item-31">
                                {% for tech in partners_techs %}
                                    <li>
                                        <a href="{{ path('partner_tech_show_one', {'url': tech.url}) }}" data-initial="{{ tech.url }}">
                                            {{ tech.shortName }}
                                        </a>
                                    </li>

                                {% endfor %}
                            </ul>

                            <p class="mt-1 mb-1" data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-41" style="cursor: pointer">
                                <i class="fas fa-plus"></i>
                                <a href="{{ path('partners_services') }}" data-toggle="tooltip" data-placement="right" title="Перейти в раздел Услуги" data-initial="partners-services">Услуги</a>
                            </p>
                            <ul class="collapse list-unstyled pl-4" id="sub-item-41">
                                {% for service in partners_services %}
                                    <li>
                                        <a href="{{ path('partner_service_show_one', {'url': service.url}) }}" data-initial="{{ service.url }}">
                                            {{ service.shortName }}
                                        </a>
                                    </li>

                                {% endfor %}
                            </ul>


                        </ul>



                    </li>
                </ul>

            </div>

            <!-- Main content section -->
            <div class="col-lg-10 p-0">
                {% block h1 %}

                {% endblock %}


                {% block content %}

                {% endblock %}

                {% block bottom_slider %}

                {% endblock %}

                <!-- User form section -->
                <div class="row m-0 my-2 callback">
                    <div class="col-md-12 p-3">
                        <h2 class="text-center my-3">Заказать обратный звонок</h2>

                        <form role="form" action="{{ path('callback') }}" method="post" class="json needs-validation" novalidate onsubmit="yaCounter47365036.reachGoal('FORMA', function () {console.log('Данные успешно отправлены')}); console.log('submit')">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="InputPhone">
                                            Номер телефона
                                        </label>
                                        <input type="tel" class="form-control" name="phone" id="InputPhone" data-validation="no-empty" required/>
                                        <div class="invalid-feedback">
                                            Пожалуйста введите номер телефона
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputEmail">
                                            Email (необязательно)
                                        </label>
                                        <input type="email" class="form-control" name="email" id="InputEmail" />
                                    </div>
                                    <div class="form-group">
                                        <label for="InputName">
                                            Контактное лицо
                                        </label>
                                        <input type="text" class="form-control" name="name" id="InputName" required/>
                                        <div class="invalid-feedback">
                                            Пожалуйста введите свое имя
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">
                                            Что интересует?
                                        </label>
                                        <textarea class="form-control" rows="5" name="comment" id="comment" required></textarea>
                                        <div class="invalid-feedback">
                                            Необходимо оставить коментарий
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="agree" id="agree" placeholder="" required />
                                        <label for="agree" class="small">
                                            Я прочитал(a) и согласен(а) с <a href="{{ path('app_home_show', {'slug' : 'politika-konfidencialnosti'}) }}">условиями конфиденциальности</a>
                                        </label>
                                        <div class="invalid-feedback">
                                            Необходимо согласится с условиями
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary send-email">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                        <span data-type="title" data-ready="Отправить" data-request="Отправка...">Отправить</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer section -->
        <div class="container-fluid bg-white p-0">
            <div class="row bg-dark m-0 p-3">
                <div class="col-md-6 p-0">
                    <div class="row m-0">
                        <div class="col-md-6 d-flex flex-column justify-content-between align-items-center">
                            <img src="{{ asset('assets/img/logo_footer.png') }}" alt="АГРО-ТЕХ" width="139" height="130">

                            <p class="text-light small">© 2008-{{ "now"|date("Y") }} ООО "АГРО-ТЕХ"</p>
                        </div>
                        <div class="col-md-6">
                            <span class="text-light">Меню</span>
                            <nav class="nav flex-column small">
                                <a class="nav-link active py-0 text-light" href="{{ path('app_home') }}">Главная</a>
                                <a class="nav-link py-0 text-light" href="{{ path('app_home_show', {'slug': 'about'}) }}">О компании</a>
                                <a class="nav-link py-0 text-light" href="{{ path('angary') }}">Ангары</a>
                                <a class="nav-link py-0 text-light" href="{{ path('selhoztehnika') }}">Сельхозтехника</a>
                                <a class="nav-link py-0 text-light" href="{{ path('spare_parts_show_all') }}">Запасные части</a>
                                <a class="nav-link py-0 text-light" href="{{ path('app_home_show', {'slug': 'services'}) }}">Услуги</a>
                                <a class="nav-link py-0 text-light" href="{{ path('app_home_show', {'slug': 'leasing'}) }}">Лизинг</a>
                                <a class="nav-link py-0 text-light" href="{{ path('partners') }}">Партнеры</a>
                                <a class="nav-link py-0 text-light" href="{{ path('articles') }}">Агроному на заметку</a>
                                <a class="nav-link py-0 text-light" href="{{ path('app_home_show', {'slug': 'contacts'}) }}">Контакты</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 pl-3">
                    <h4 class="text-light">Контактная информация</h4>
                    <div>
                        <a class="text-light" href="tel:89282122219">+7 (928) 212-22-19</a>
                    </div>
                    <div>
                        <a class="text-light" href="mailto:mail@agro-teh.su">mail@agro-teh.su</a>
                    </div>

                    <address class="text-light">
                        <strong>ООО "АГРО-ТЕХ"</strong> <br>
                        347939, Россия, Ростовская область, Таганрог, ул. Пархоменко, 19
                    </address>

                    <p>
                        <a class="text-light small" href="{{ path('app_home_show', {'slug' : 'politika-konfidencialnosti'}) }}">Политика конфиденциальности</a>
                    </p>
                </div>
                <div class="col-md-9">
                    <p class="text-light small mb-0 mt-2">Данный сайт не является публичной офертой и носит исключительно информационный характер</p>
                </div>

                <!-- Yandex.Metrika informer -->
                <div class="col-md-3">
                    <a href="https://metrika.yandex.ru/stat/?id=47365036&amp;from=informer"
                       target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/47365036/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="47365036" data-lang="ru" /></a>
                </div>
                <!-- /Yandex.Metrika informer -->
            </div>
        </div>


        {#<div class="modal" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="row m-0 my-2 callback">
                <div class="col-md-12 p-3">
                    <h2 class="text-center my-3">Заказать обратный звонок</h2>

                    <form role="form" action="{{ path('callback') }}" method="post" class="json needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputPhone">
                                        Номер телефона
                                    </label>
                                    <input type="tel" class="form-control" name="phone" id="InputPhone" data-validation="no-empty" required/>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите номер телефона
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">
                                        Email (необязательно)
                                    </label>
                                    <input type="email" class="form-control" name="email" id="InputEmail" />
                                </div>
                                <div class="form-group">
                                    <label for="InputName">
                                        Контактное лицо
                                    </label>
                                    <input type="text" class="form-control" name="name" id="InputName" required/>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите свое имя
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="comment">
                                        Что интересует?
                                    </label>
                                    <textarea class="form-control" rows="5" name="comment" id="comment" required></textarea>
                                    <div class="invalid-feedback">
                                        Необходимо оставить коментарий
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="agree" id="agree" placeholder="" required />
                                    <label for="agree" class="small">
                                        Я прочитал(a) и согласен(а) с <a href="#">условиями конфиденциальности</a>
                                    </label>
                                    <div class="invalid-feedback">
                                        Необходимо согласится с условиями
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary send-email">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    <span data-type="title">Отправить</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>#}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Заказать обратный звонок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="{{ path('callback') }}" method="post" class="json needs-validation" novalidate onsubmit="yaCounter47365036.reachGoal('FORMA', function () {console.log('Данные успешно отправлены')}); console.log('submit')">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputPhone">
                                        Номер телефона
                                    </label>
                                    <input type="tel" class="form-control" name="phone" id="InputPhone" data-validation="no-empty" required/>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите номер телефона
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">
                                        Email (необязательно)
                                    </label>
                                    <input type="email" class="form-control" name="email" id="InputEmail" />
                                </div>
                                <div class="form-group">
                                    <label for="InputName">
                                        Контактное лицо
                                    </label>
                                    <input type="text" class="form-control" name="name" id="InputName" required/>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите свое имя
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="comment">
                                        Что интересует?
                                    </label>
                                    <textarea class="form-control" rows="5" name="comment" id="comment" required></textarea>
                                    <div class="invalid-feedback">
                                        Необходимо оставить коментарий
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="agree" id="agree" placeholder="" required />
                                    <label for="agree" class="small">
                                        Я прочитал(a) и согласен(а) с <a href="{{ path('app_home_show', {'slug' : 'politika-konfidencialnosti'}) }}">условиями конфиденциальности</a>
                                    </label>
                                    <div class="invalid-feedback">
                                        Необходимо согласится с условиями
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary send-email">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    <span data-type="title" data-ready="Отправить" data-request="Отправка...">Отправить</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {#<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary send-email">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                        <span data-type="title">Отправить</span>
                    </button>
                </div>#}
            </div>
        </div>
    </div>


    {% block javascripts %}

        {#gpoogle capcha#}
        <script src="https://www.google.com/recaptcha/api.js?render=6LfUvKEUAAAAAE69avndcaHZP0OD55IeOYOanmaA"></script>
        <!-- Яндекс карты АПИ -->
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        {#<script src="https://www.google.com/recaptcha/api.js?render=6LfUvKEUAAAAAE69avndcaHZP0OD55IeOYOanmaA"></script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('6LfUvKEUAAAAAE69avndcaHZP0OD55IeOYOanmaA', {action: 'homepage'}).then(function(token) {

                });
            });
        </script>#}
        <script src="{{ asset('build/app.js') }}"></script>
        <script>
            jQuery(document).on('yaCounter47365036inited', function () {
                console.log('счетчик yaCounter47365036 можно использовать');
            });
        </script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('6LfUvKEUAAAAAE69avndcaHZP0OD55IeOYOanmaA', {action: 'homepage'})
                    .then(function(token) {
                        const Api = new SendApi({
                            method:'post',
                            dataType: 'json',
                            data: {token:token},
                            url: '/verify-user',
                            success: (answer)=>{
                                answer.status ? window.userIsVerify = true : window.userIsVerify = false;
                            },
                            error: (answer) => {
                                window.userIsVerify = false;
                            }
                        });
                        Api.send();
                    });
            });
        </script>

    {% endblock %}


    </body>
{% endblock %}

</html>