<div class="tech-wrapper">
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-12">
                <a href="{{ path('selhoztehnika_update', {'url' : tech.url}) }}" class="btn btn-primary">Редактировать</a>
            </div>
        </div>
    {% endif %}
    <div class="row m-0">
        {#<div class="col-md-12">
            <img src="{{ asset(tech.image) }}" class="img-fluid" alt="Responsive image">
        </div>#}
        <img src="{{ asset(tech.image) }}" class="img-fluid m-auto" style="max-height: 460px" alt="{{ tech.name }}">

    </div>

    <div class="row justify-content-center m-0 my-2 mt-4">
        <ul class="nav nav-tabs justify-content-center w-100" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="true">Производительность</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="designwork-tab" data-toggle="tab" href="#designwork" role="tab" aria-controls="designwork" aria-selected="false">Устройство и работа</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="configurationsprices-tab" data-toggle="tab" href="#configurationsprices" role="tab" aria-controls="configurationsprices" aria-selected="false">Комплектации и цены</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="false">Доставка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
            </li>
        </ul>
    </div>

    <div class="row m-0 p-3">
        <div class="tab-content col-12" id="myTabContent">
            <div class="tab-pane fade show active" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                <table class="table table-sm table-bordered">
                    {% for row in table %}
                        <tr>
                            {% if row[0] is defined %}
                                <td colspan="2">{{ row[0] }}</td>
                            {% else %}
                                {% for column in row %}
                                    <td>{{ ((row | keys) | reverse)[0] }}</td>
                                    <td>{{ column }}</td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                {{ description | raw }}
            </div>
            <div class="tab-pane fade" id="designwork" role="tabpanel" aria-labelledby="designwork-tab">
                {{ manual | raw }}
            </div>
            <div class="tab-pane fade" id="configurationsprices" role="tabpanel" aria-labelledby="configurationsprices-tab">


                    <div class="col-sm-12">
                        {% if price > 0 %}
                            <span>
                                Цена в базовой комплектации - <span>{{ price|number_format(0, ".", ",") }}</span> рублей
                            </span>
                            {% else %}
                                <span>
                                    Цены необходимо уточнять у менеджера предприятия с 09.01.2019г
                                </span>
                        {% endif %}
                    </div>




                {% if complectations is not null %}
                    {% for item in complectations %}
                        <div>
                            {{ item.description|raw }}
                        </div>
                        <div>
                            {{ item.price }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">

                {% if dimentions is not null %}
                    <div class="col-12">
                        <div class="text-center">
                            Габаритные размеры для доставки:
                        </div>

                        <table id="good_dimentions" class="table table-bordered" data-length="{{ dimentions.length }}" data-width="{{ dimentions.width }}" data-height="{{ dimentions.height }}" data-volume="{{ dimentions.volume }}" data-weight="{{ dimentions.weight }}" data-price="{{ price }}">
                            <thead class="table-info">
                            <tr>
                                <td>Длина, м</td>
                                <td>Ширина, м</td>
                                <td>Высота, м</td>
                                <td>Объем, м3</td>
                                <td>Вес, кг</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ dimentions.length }}</td>
                                <td>{{ dimentions.width }}</td>
                                <td>{{ dimentions.height }}</td>
                                <td>{{ dimentions.volume }}</td>
                                <td>{{ dimentions.weight }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="col">
                            <div class="form-group form-row">
                                <input class="col form-control mr-5" list="cityListKit" placeholder="Введите пункт назначения" {#onchange="yaCounter47365036.reachGoal('RASCHET', function () {console.log('Данные успешно отправлены')})"#}/>
                                <datalist id="cityListKit">
                                    <option value="Населенный пункт"></option>
                                </datalist>
                                <button type="submit" class="btn btn-primary send-kit" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    <span data-type="title" data-ready="Рассчитать" data-request="Отправка...">Рассчитать</span>
                                </button>
                            </div>
                        </div>
                        <div class="answerKit" style="display: none">
                            <table class="table table-bordered">
                                <thead class="table-info">
                                    <tr>
                                        <td>Срок доставки, дней</td>
                                        <td>Стоимость доставки, рублей</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="daysOfDelivery__td"></td>
                                        <td class="priceOfDeliveryKit__td"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="alert alert-warning">
                                <p>
                                    <b>Обратите внимание!</b>
                                    Окончательную стоимость продукции для вашего региона можно уточнить у сотрудников отдела продаж или региональных представителей компании "АГРО-ТЕХ".
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>
                        Для данного товара пока нет габаритных размеров, хотите узнать подробнее? <a role="button" data-toggle="modal" data-target="#callback" style="text-decoration: underline; cursor: pointer">Позвоните нам.</a>
                    </div>
                {% endif %}

            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

                <div class="row m-0 p-3">

                    {% if feedbacks | length > 0 %}
                        {% for feedback in feedbacks %}

                            <div class="card w-100 mt-3">
                                <div class="card-header text-right">
                                    <strong>{{ feedback.name }}</strong> <span class="text-muted small">{{ feedback.created | date('d-m-Y H:i:s') }}</span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ feedback.feedback }}
                                    </p>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            Для данного товара нет отзыва, хотите оставить отзыв?
                        </div>
                    {% endif %}

                    <div class="col-12 m-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbacks">
                            Написать отзыв
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal" id="feedbacks" tabindex="-1" role="dialog" aria-labelledby="feedbacksLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Оставьте ваш отзыв</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {{ form_start(form_feedback) }}
                                <div class="modal-body">
                                    <div class="alert-danger">
                                        {{ form_errors(form_feedback) }}
                                    </div>
                                    {{ form_widget(form_feedback.title, {'attr' : {'class' : "form-control mb-3", 'id': 'headerUserReview', 'placeholder' : 'Заголовок отзыва'}}) }}
                                    {{ form_widget(form_feedback.feedback, {'attr' : {'class' : "form-control w-100 mb-3", 'id' : 'userReviewText', 'rows' : 10, 'placeholder' : "* Текст отзыва"}}) }}
                                    {{ form_widget(form_feedback.name, {'attr' : {'class' : "form-control mb-3", 'id': 'userName', 'placeholder' : '* Ваше имя'}}) }}

                                    <p class="small text-right">* - обязательные поля</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    {{ form_widget(form_feedback.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                                </div>
                                {{ form_end(form_feedback) }}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col text-center pb-3"><a data-tech-id="{{ tech.id }}" role="button" data-toggle="modal" data-target="#callback" class="btn btn-danger text-white">Купить или узнать больше информации</a></div>

    {% if slider is not empty %}
        <div class="row m-0 my-5 bg-transparent">
            <div class="col-md-12 p-0 px-5">
                <h3 class="text-center my-3 text-white bg-primary">
                    Фото
                </h3>

                <!-- Slick slider -->
                <!-- To do: Check all point-->
                <div class="tech-image-slide">
                    {% for slide in slider  %}
                        <div class="px-2">
                            <a class="tech-image" href="{{ asset(slide.path) }}">
                                <img src="{{ asset(slide.path) }}" class="card-img-top" alt="{{ tech.name }}" style="max-height: 300px">
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}

    {% if video is not empty %}
        <div class="row m-0 my-5 bg-transparent">
            <div class="col-md-12 p-5 h-100">
                <h3 class="text-center my-3 text-white bg-primary">
                    Видео
                </h3>
                <div class="d-flex flex-wrap justify-content-between">
                    {% for item in video  %}
                        <iframe height="300" class="mb-2" src="{{ item.video }}?wmode=transparent&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    {% endfor %}
                </div>


            </div>
        </div>
    {% endif %}

    {% if tech.spareParts is not empty %}
        <div class="row m-0 my-5 bg-transparent">
            <div class="col-md-12 p-0 px-5">
                <h3 class="text-center my-3 text-white bg-primary">
                    Запасные части
                </h3>
                {#{{ dump(tech.spareParts.images.toArray) }}#}

                <!-- Slick slider -->
                <!-- To do: Check all point-->
                <div class="tech-spare-slide">
                    {% for spare in tech.spareParts  %}
                        <div class="card px-3 bg-transparent border-0">
                            <div class="more-info">
                                <div class="more-info__center">
                                    <a class="btn btn-dark" href="{{ path('spare_parts_show', {'id' : spare.id}) }}">
                                        <span> Подробнее</span>
                                    </a>
                                </div>
                            </div>
                            <img src="{{ asset(spare.images.first.pathThumbnail ~ '' ~ spare.images.first.nameMd5) }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ spare.title }}</h5>
                                <p class="card-text">
                                    Цена -  {{ spare.price|number_format(0, ".", ",") }} рублей
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


</div>
