<div class="clearfix"></div>
<!-- The sidebar -->
<div class="mb-20px">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="active" href="#performance" aria-controls="performance" role="tab" data-toggle="tab">Производительность</a></li>
        <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
        <li role="presentation"><a href="#manual" aria-controls="manual" role="tab" data-toggle="tab">Устройство и работа</a></li>
        <li role="presentation"><a href="#complectations" aria-controls="complectations" role="tab" data-toggle="tab">Комплектации и цены</a></li>
        <li role="presentation"><a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Доставка</a></li>
        <li role="presentation"><a href="#feedbacks" aria-controls="feedbacks" role="tab" data-toggle="tab">Отзывы <span class="badge alert-info">{{ feedbacks | length }}</span></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="display: block;">
        <div role="tabpanel" class="tab-pane active" id="performance">
            <table>
                {% for row in table %}


                    <tr>

                        {% if row[0] is defined %}
                            <td colspan="2">{{ row[0] }}</td>
                        {% else %}
                            {% for column in row %}
                                <td>{{ ((row | keys) | reverse)[0] }}</td>
                                <td>{{ column }}</td>
                            {% endfor %}
                        {% endif %}

                    </tr>

                {% endfor %}
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="description">
            {{ description | striptags }}
        </div>
        <div role="tabpanel" class="tab-pane" id="manual">
            {{ manual | striptags }}
        </div>
        <div role="tabpanel" class="tab-pane" id="complectations">
            {% if complectations is not null %}
                {% for item in complectations %}
                    <div>
                        {{ item.description }}
                    </div>
                    <div>
                        {{ item.price }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="delivery">

            <div>
                <div class="text-center">
                    Габаритные размеры для доставки:
                </div>
                <table id="good_dimentions" class="table table-bordered table-responsive" data-lenth="{{ dimentions.length }}" data-width="{{ dimentions.width }}" data-height="{{ dimentions.height }}" data-volume="{{ dimentions.volume }}" data-weight="{{ dimentions.weight }}" data-price="{{ price }}">
                    <thead class="thead-inverse">
                    <tr>
                        <td>Длина, м</td>
                        <td>Ширина, м</td>
                        <td>Высота, м</td>
                        <td>Объем, м3</td>
                        <td>Вес, кг</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <td>{{ dimentions.length }}</td>
                            <td>{{ dimentions.width }}</td>
                            <td>{{ dimentions.height }}</td>
                            <td>{{ dimentions.volume }}</td>
                            <td>{{ dimentions.weight }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-6 mb-20px">
                    <div>
                        <input class="form-control" list="cityListKit" placeholder="Введите пункт назначения"/> {#onchange="yaCounter47365036.reachGoal('RASCHET', function () {console.log('Данные успешно отправлены')})#}
                        <datalist id="cityListKit">
                            <option value="Населенный пункт"></option>
                        </datalist>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8 answerKit" hidden>
                    <table class="table table-bordered table-responsive">
                        <thead class="thead-inverse">
                        <tr>
                            <td>Срок доствки, дней</td>
                            <td>Стоимость доставки, рублей</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="info">
                            <td class="daysOfDelivery__td"></td>
                            <td class="priceOfDeliveryKit__td"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {#<div class="row">


                <div class="one-half columns align-center fon2 cityListKit mb-35px">
                    <p class="align-center">укажите регион доставки</p>
                    <!--<input type="text" placeholder="Населенный пункт" id="cityList">-->
                    <input list="cityListKit" class="align-center" placeholder="Введите пункт назначения"/> #}{#onchange="yaCounter47365036.reachGoal('RASCHET', function () {console.log('Данные успешно отправлены')})#}{#
                    <datalist id="cityListKit">
                        <option value="Населенный пункт"></option>
                    </datalist>
                </div>
            </div>#}

        </div><!-- /full-width columns -->


        {#<div class="row answerKit" hidden>
            <div class="one-half columns align-center fantome">
                <label for="daysOfDelivery">Срок доставки, дней:</label>
                <input type="text" class="align-center" id="daysOfDelivery" value="" disabled>
            </div>
            <div class="one-half columns align-center fantome">
                <label for="priceOfDeliveryKit">Стоимость доставки:</label>
                <input type="text" class="align-center" id="priceOfDeliveryKit" value="" disabled>
            </div>
        </div>#}


        <div class="full-width columns">


            <blockquote class="mb-35px">
                <p class="colored-text-1 remove-bottom">
                    Обратите внимание!
                </p>
                <p class="dark-black remove-bottom">
                    Окончательную стоимость продукции для вашего региона можно уточнить у сотрудников отдела продаж или региональных представителей компании "АГРО-ТЕХ".
                </p>
            </blockquote>
            <!--/noindex-->
        </div>
        <div role="tabpanel" class="tab-pane tech" id="feedbacks">

            {% if feedbacks | length > 0 %}
                {% for feedback in feedbacks %}
            <div class="row thumbnail mb-20px rounded panel panel-info">
                    <div class="panel-title bg-info">
                        <p class="text-right">{{ feedback.created | date('d-m-Y H:i:s') }}</p>
                    </div>
                    <div class="feedback">
                        {{ feedback.feedback }}

                    </div>
            </div>
                {% endfor %}
            {% else %}
                <div>
                    Для данного товара нет отзыва, хотите оставить отзыв?
                </div>
            {% endif %}
            {{ form_start(form_feedback) }}
            <div class="alert-danger">
                {{ form_errors(form_feedback) }}
            </div>
            {{ form_label(form_feedback.feedback, 'Ваш отзыв') }}
            {{ form_errors(form_feedback.feedback) }}
            <div class="col-md-12">
                <div class="col-md-10">
                    {{ form_widget(form_feedback.feedback, {'attr' : {'class' : "form-control", 'rows' : 3}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(form_feedback.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_end(form_feedback) }}
        </div>


        </div>
    </div>

</div>


<div class="align-center mb-20px"><a href="#" class="button large colored">Купить или узнать больше информаци</a></div>


{% if video is not empty %}
    <div class="row mb-50px">
        <section class="flexslider mb-10px" data-animation="fade" data-slideshow="yes" data-direction-nav="yes">
            <ul class="slides">

                {% for item in video %}
                    <noscript><div class="hidden"></noscript>
                    <div class="video-container mb-70px">
                        <iframe width="760" height="427" class="frame-scale-with-grid" src="{{ item.video }}?wmode=transparent&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <noscript></div></noscript><!-- /hidden-->
                {% endfor %}

            </ul>
        </section>
    </div>
{% endif %}
