{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block h1 %}Сельхозтехника{% endblock %}

{% block content %}
    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            ООО "АГРО-ТЕХ" производит оборудование и машины, которые пользуются неизменно высоким спросом у сельхозпроизводителей.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Причины такой популярности очевидны: продукция компании эргономична и современна. Процесс подготовки её к работе занимает минимум времени и не требует специальных навыков.
        </p>
    </div>

    </div><!-- /full-width columns -->

    <!-- ------------------------------------------------------------------------------------ -->

    <br class="clear"><!-- Очистка -->
    <div class="gap mb-35px"></div>
    <div class="pl-33px"><!-- Многогранники -->
        <div class="mng_row">
        {% for category in tech_category_serv.findAll() %}
            <div class="column_mng">
                <div class="description_mng fx_01">
                    <div class="description_table">
                        <p id="model_mng">
                            <a href="{{ path('category', {'url' : category.url}) }}">{{ category.name }}</a>
                        </p>
                    </div>
                </div>
                <div class="polyhedron">
                    <a href="{{ path('category', {'url' : category.url}) }}" title="{{ category.name }}">
                        <img src="/{{ category.smallImage }}" alt="{{ category.name }}">
                    </a>
                </div>
            </div>

        {% endfor %}
        </div>

    </div><!-- /Многогранники -->
    <br class="clear"><!-- Очистка -->
    <div class="gap mb-35px"></div>

    <!-- ------------------------------------------------------------------------------------ -->

    <div class="full-width columns">


        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Проблемы современного села хорошо известны специалистам ООО "АГРО-ТЕХ" и учитываются при проектировании моделей техники. Качественная продукция, которую разрабатывают и производят на предприятии, сделана с учетом российской специфики.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Ведь, как известно, только хорошей почвы недостаточно для обеспечения успешного развития и роста сельхоз культур.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Необходима такая техника, которая бы могла обеспечить подкормку растений подходящими удобрениями. Кроме того, сельхозкультурам нужна защита от болезней, вредителей и сорняков.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                ООО "АГРО-ТЕХ" создаёт качественные и доступные по цене отечественные опрыскиватели, которые вносят в поверхностные слои почвы жидкие удобрения, а также обеспечивают защиту посевов и всходов.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Объём производимых и продаваемых опрыскивателей возрастает год от года.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Техника, создаваемая нашей компанией, достаточно разнообразна.	При этом технические особенности, присущие разным видам опрыскивателей, позволяет каждому потребителю найти именно ту модель, которая наилучшим образом будет соответствовать предполагаемым условиям её эксплуатации.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Минеральные удобрения, вносимые в почву с помощью техники ООО "АГРО-ТЕХ", повышают плодородность почвы и способствуют росту урожайности культур.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Особенности нашей техники позволяют максимально эффективно использовать гранулированные удобрения. Потребители всегда достигают нужного им результата, если приобретают наши разбрасыватели.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Они позволяют обеспечить и правильную дозировку питательных веществ, и их равномерное распределение по участку обработки.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Независимо от того, является ли потребитель фермером или это крупное сельхоз предприятие, многочисленные приспособления, которые мы предлагаем, облегчают жизнь каждого сельхозпроизводителя.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Например, для пополнения запаса рабочего раствора в резервуаре опрыскивателя, нет необходимости терять время и отправлять технику к месту дозаправки: кассеты ЖКУ, содержащие запас нужных химикатов можно доставить непосредственно к месту проведения работ.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-70px">
            <p class="middle-font-size remove-bottom">
                Когда наступает время сбора урожая, тележки ТПУ-500 пользуются ажиотажным спросом. Используя их, можно не только аккуратно собрать всё, что произведено, в специальные контейнеры, но и отправить урожай в тех же ёмкостях конечному потребителю.
            </p>
        </div>

        <p class="psevdo_h2 mb-40px">
            Чем привлекает сельхозтехника "АГРО-ТЕХ"
        </p>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Чтобы купить сельскохозяйственную технику и не ошибиться с выбором, необходимо иметь дело только с проверенным продавцом, который сам производит то, что продаёт, и готов предъявить сертификаты соответствия на всю свою продукцию.
            </p>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Мы торгуем сельскохозяйственной техникой не первый год, и наши изделия успели зарекомендовать себя на рынке исключительно с положительной стороны. ООО "АГРО-ТЕХ" располагает новейшими производственными мощностями, а также современной экспериментально-испытательной базой.
            </p>
        </blockquote>

        <div class="info-box light gradient no-border mb-35px">
            <p class="middle-font-size mb-20px">
                Основой для создания качественной и надежной техники ООО "АГРО-ТЕХ" являются:
            </p>

            <ul class="check-list colored remove-bottom">
                <li>научно-технические разработки последних лет;</li>
                <li>требования сельхозпроизводителей практиков;</li>
                <li>собственный опыт наших специалистов.</li>
            </ul>
        </div>

        <blockquote class="mb-35px">
            <p class="dark-black remove-bottom">
                Как уже было отмечено ранее, для производственных целей наша компания использует современное оборудование и инновационные технологии. Оригинальность технических решений, заложенных в конструкции наших моделей, подтверждают многочисленные патенты.
            </p>
        </blockquote>

        <div class="info-box colored-1 rounded mb-35px">
            <p class="middle-font-size remove-bottom">
                Анализируя качество комплектующих, предлагаемых рынком, мы отдаём предпочтение насосам, фильтрам, распылителям или регуляторам, произведенным за рубежом. Это могут быть изделия из Италии, Германии, Польши или Турции.
            </p>
        </div>

        <blockquote>
            <p class="dark-black remove-bottom">
                Вся продукция компании выверена отечественными ГОСТами, отвечает мировым стандартам качества и действующим нормативам ГНУ ВИЗР. Наша техника удобна и проста в обслуживании и эксплуатации. Не зря её достоинства регулярно отмечаются высокими наградами сельскохозяйственных выставок.
            </p>
        </blockquote>
{% endblock %}