{% extends 'base.html.twig' %}

{% set bodyClass = 'gallery' %}

{% set title = 'Строительство быстровозводимых бескаркасных арочных ангаров, рабочие моменты ООО "АГРО-ТЕХ" при строительстве ангаров и навесов' %}

{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Галерея рабочих моментов
    </h1>
{% endblock %}

{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: bottom;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/002.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}

{% block content %}
    <div class="row m-0 pb-3 justify-content-around gallery">
        {% for item in gallery %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 thumb hangars__item">
                <a data-fancybox="gallery" href="{{ item.getPath }}{{ item.getNameMd5 }}">
                    <img class="img-thumbnail" src="{{ item.getPathThumbnail }}{{ item.getNameMd5 }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}