{% extends 'base.html.twig' %}

{% block title %}GalleryImage index{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>GalleryImage index</h1>

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('gallery_image_new') }}">Создать</a>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name_md5</th>
                <th>Path</th>
                <th>Path_thumbnail</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gallery_image in gallery_images %}
                <tr>
                    <td>{{ gallery_image.id }}</td>
                    <td>{{ gallery_image.name }}</td>
                    <td>{{ gallery_image.nameMd5 }}</td>
                    <td>{{ gallery_image.path }}</td>
                    <td>{{ gallery_image.pathThumbnail }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm mb-2" href="{{ path('gallery_image_show', {'id': gallery_image.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm mb-2" href="{{ path('gallery_image_edit', {'id': gallery_image.id}) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
