{% extends 'base.html.twig' %}

{% set bodyClass = 'spare-parts' %}

{% block title %}
    Запасные части
{% endblock %}

{% block h1 %}
    <h2 class="text-center bg-success text-white line-height-18 my-3">
        Запасные части
    </h2>
{% endblock %}

{% block content %}

    <div class="row px-2">
        {#{{ dump(spare_parts) }}#}
        {% for spare in spare_parts %}
            <div class="col-md-4 pt-3">
                <!--To do: Add width in ccs or use row and col!-->
                <div class="card">
                    <div class="more-info">
                        <div class="more-info__center">
                            <a class="btn btn-dark" href="{{ path('spare_parts_show', {'id' : spare.id}) }}">
                                <span> Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <img src="{{ asset(spare.images.first.pathThumbnail ~ '' ~ spare.images.first.nameMd5) }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ spare.title }}</h5>
                        <p class="card-text">
                           Цена -  {{ spare.price|number_format(0, ".", ",") }} рублей
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

    {#<div class="callback p-4 my-4 text-justify">
        <article>
            <p>
                ООО "АГРО-ТЕХ" производит оборудование и машины, которые пользуются неизменно высоким спросом у сельхозпроизводителей.
                Причины такой популярности очевидны: продукция компании эргономична и современна. Процесс подготовки её к работе занимает минимум времени и не требует специальных навыков.
            </p>
        </article>
        <article>
            <p>
                Проблемы современного села хорошо известны специалистам ООО "АГРО-ТЕХ" и учитываются при проектировании моделей техники. Качественная продукция, которую разрабатывают и производят на предприятии, сделана с учетом российской специфики.

                Ведь, как известно, только хорошей почвы недостаточно для обеспечения успешного развития и роста сельхоз культур.
            </p>
            <p>

                Необходима такая техника, которая бы могла обеспечить подкормку растений подходящими удобрениями. Кроме того, сельхозкультурам нужна защита от болезней, вредителей и сорняков.

                ООО "АГРО-ТЕХ" создаёт качественные и доступные по цене отечественные опрыскиватели, которые вносят в поверхностные слои почвы жидкие удобрения, а также обеспечивают защиту посевов и всходов.

                Объём производимых и продаваемых опрыскивателей возрастает год от года.

                Техника, создаваемая нашей компанией, достаточно разнообразна.	При этом технические особенности, присущие разным видам опрыскивателей, позволяет каждому потребителю найти именно ту модель, которая наилучшим образом будет соответствовать предполагаемым условиям её эксплуатации.

                Минеральные удобрения, вносимые в почву с помощью техники ООО "АГРО-ТЕХ", повышают плодородность почвы и способствуют росту урожайности культур.

                Особенности нашей техники позволяют максимально эффективно использовать гранулированные удобрения. Потребители всегда достигают нужного им результата, если приобретают наши разбрасыватели.

                Они позволяют обеспечить и правильную дозировку питательных веществ, и их равномерное распределение по участку обработки.

            </p>
        </article>

        <p>




            Независимо от того, является ли потребитель фермером или это крупное сельхоз предприятие, многочисленные приспособления, которые мы предлагаем, облегчают жизнь каждого сельхозпроизводителя.

            Например, для пополнения запаса рабочего раствора в резервуаре опрыскивателя, нет необходимости терять время и отправлять технику к месту дозаправки: кассеты ЖКУ, содержащие запас нужных химикатов можно доставить непосредственно к месту проведения работ.

            Когда наступает время сбора урожая, тележки ТПУ-500 пользуются ажиотажным спросом. Используя их, можно не только аккуратно собрать всё, что произведено, в специальные контейнеры, но и отправить урожай в тех же ёмкостях конечному потребителю.

            Чем привлекает сельхозтехника "АГРО-ТЕХ"

            Чтобы купить сельскохозяйственную технику и не ошибиться с выбором, необходимо иметь дело только с проверенным продавцом, который сам производит то, что продаёт, и готов предъявить сертификаты соответствия на всю свою продукцию.

            Мы торгуем сельскохозяйственной техникой не первый год, и наши изделия успели зарекомендовать себя на рынке исключительно с положительной стороны. ООО "АГРО-ТЕХ" располагает новейшими производственными мощностями, а также современной экспериментально-испытательной базой.

            Основой для создания качественной и надежной техники ООО "АГРО-ТЕХ" являются:

            научно-технические разработки последних лет;
            требования сельхозпроизводителей практиков;
            собственный опыт наших специалистов.
            Как уже было отмечено ранее, для производственных целей наша компания использует современное оборудование и инновационные технологии. Оригинальность технических решений, заложенных в конструкции наших моделей, подтверждают многочисленные патенты.

            Анализируя качество комплектующих, предлагаемых рынком, мы отдаём предпочтение насосам, фильтрам, распылителям или регуляторам, произведенным за рубежом. Это могут быть изделия из Италии, Германии, Польши или Турции.

            Вся продукция компании выверена отечественными ГОСТами, отвечает мировым стандартам качества и действующим нормативам ГНУ ВИЗР. Наша техника удобна и проста в обслуживании и эксплуатации. Не зря её достоинства регулярно отмечаются высокими наградами сельскохозяйственных выставок.
        </p>
    </div>#}
{% endblock %}

