{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Address index</h1>

        <a class="btn btn-sm btn-primary" href="{{ path('address_new') }}">Создать</a>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>Region_index</th>
                <th>City</th>
                <th>District</th>
                <th>Street</th>
                <th>Building</th>
                <th>Zip</th>
                <th>Coordinate</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.id }}</td>
                    <td>{{ address.region }}</td>
                    <td>{{ address.regionIndex }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.district }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.building }}</td>
                    <td>{{ address.zip }}</td>
                    <td>{{ address.coordinate }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm mb-2" href="{{ path('address_show', {'id': address.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm" href="{{ path('address_edit', {'id': address.id}) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
