<h2>Здравствуйте АГРО-ТЕХ!</h2>

<h3>Вам поступила заявка на обратный звонок:</h3>

<p>Пользователь представился как: {{ name }}</p>
<p>Котактные данные :</p>
<p>Телефон - <a href="tel:{{ phone }}">{{ phone }}</a></p>
{% if email|length > 1 %}
    <p>Email - <a href="mailto:{{ email }}">{{ email }}</a></p>
{% endif %}
<p>Коментарий - {{ comment }}</p>

